# Conformal prediction for Recommenders

In [1]:
# !wget https://files.grouplens.org/datasets/movielens/ml-1m.zip
# !unzip -o ml-1m.zip

In [42]:
import numpy as np
import pandas as pd
import tensorflow as tf
import tensorflow.keras.backend as K
from collections import Counter
from itertools import chain
from sklearn.model_selection import train_test_split
from tensorflow import keras
from tensorflow.keras.layers import Add, Dense, Concatenate, Embedding, Input, Lambda, Layer, Multiply, Reshape, Subtract
from tensorflow.keras.models import Model
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tqdm import tqdm

In [43]:
users = pd.read_csv('data/ml-1m/users.dat', sep='::', engine='python', names=['userID', 'gender', 'age', 'occupation', 'zipCode'])
movies = pd.read_csv('data/ml-1m/movies.dat', sep='::', engine='python', names=['movieID', 'title', 'genres'], encoding='latin-1')
ratings = pd.read_csv('data/ml-1m/ratings.dat', sep='::', engine='python', names=['userID', 'movieID', 'rating', 'timestamp'])

In [44]:
print("rows:", users.shape[0])
users.head()

rows: 6040

   userID gender  age  occupation zipCode
0       1      F    1          10   48067
1       2      M   56          16   70072
2       3      M   25          15   55117
3       4      M   45           7   02460
4       5      M   25          20   55455

In [45]:
print("rows:", movies.shape[0])
movies.head()

rows: 3883

   movieID                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [46]:
print("rows:", ratings.shape[0])
ratings.head()

rows: 1000209

   userID  movieID  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [47]:
genres = movies["genres"].apply(lambda x: x.split("|"))
genres = chain.from_iterable(genres)
count_genres = dict(Counter(genres))
num_genres = len(count_genres)
print(f"num_genres: {num_genres}\n", dict(sorted(count_genres.items(), key=lambda item: item[1], reverse=True)))

num_genres: 18
 {'Drama': 1603, 'Comedy': 1200, 'Action': 503, 'Thriller': 492, 'Romance': 471, 'Horror': 343, 'Adventure': 283, 'Sci-Fi': 276, "Children's": 251, 'Crime': 211, 'War': 143, 'Documentary': 127, 'Musical': 114, 'Mystery': 106, 'Animation': 105, 'Fantasy': 68, 'Western': 68, 'Film-Noir': 44}

In [48]:
# lower=False?
tokenizer = Tokenizer(split='|', filters='')
tokenizer.fit_on_texts(movies["genres"].values)
tokenizer.word_index

{'drama': 1,
 'comedy': 2,
 'action': 3,
 'thriller': 4,
 'romance': 5,
 'horror': 6,
 'adventure': 7,
 'sci-fi': 8,
 "children's": 9,
 'crime': 10,
 'war': 11,
 'documentary': 12,
 'musical': 13,
 'mystery': 14,
 'animation': 15,
 'fantasy': 16,
 'western': 17,
 'film-noir': 18}

In [49]:
# is this the best way?? why not three-hot? with encoding_initializer='eye'

In [50]:
seqs = tokenizer.texts_to_sequences(movies["genres"].values)
seqs = pad_sequences(seqs, maxlen=3,padding='post').tolist()

In [51]:
idx = 2
print(movies["genres"].iloc[idx])
print(seqs[idx])

Comedy|Romance
[2, 5, 0]

In [52]:
movies["genres"] = seqs

In [53]:
matrix = pd.merge(pd.merge(ratings, users), movies)
matrix

,userID,movieID,rating,timestamp,gender,age,occupation,zipCode,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),"[1, 0, 0]"
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),"[15, 9, 13]"
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),"[13, 5, 0]"
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),"[1, 0, 0]"
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)","[15, 9, 2]"
...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,M,25,6,11106,Weekend at Bernie's (1989),"[2, 0, 0]"
1000205,6040,1094,5,956704887,M,25,6,11106,"Crying Game, The (1992)","[1, 5, 11]"
1000206,6040,562,5,956704746,M,25,6,11106,Welcome to the Dollhouse (1995),"[2, 1, 0]"
1000207,6040,1096,4,956715648,M,25,6,11106,Sophie's Choice (1982),"[1, 0, 0]"
1000208,6040,1097,4,956715569,M,25,6,11106,E.T. the Extra-Terrestrial (1982),"[1, 16, 8]"

In [54]:
#es podria separar deixant a test els mes recents

In [55]:
train, test = train_test_split(matrix, test_size=0.2, random_state=7)

In [56]:
def define_input_layers():
    # numerical features
    age = Input((1,))

    # single-level categorical features
    userID = Input((1,))
    movieID = Input((1,))

    # multi-level categorical features
    genres = Input((3,))

    return age, userID, movieID, genres

In [58]:
def Tensor_Mean_Pooling2(keepdims=False):
    def f(x, mask):
        mean = K.mean(x, axis=1, keepdims=keepdims)
        #tf.print("inputs2:", x)
        #tf.print("mask2:", mask)
        #tf.print("division2:", mean.shape)
        return mean
    return Lambda(f)

class Tensor_Mean_Pooling(tf.keras.layers.Layer):
    def __init__(self, **kwargs):
        super().__init__(**kwargs)

    def call(self, inputs, mask):
        #tf.print("inputs:", inputs.shape)
        #PROVAR AMB 2 UNICS INPUTS A L'ULTIMA CEL·LA I ANAR MIRANT
        tensor = tf.reshape(inputs, [-1, 3])
        mask = tf.cast(mask, inputs.dtype)
        #tf.print("mask:", mask.shape)
        masked_inputs = tf.multiply(tensor, mask)
        #tf.print("masked_tensor:", masked_inputs)
        masked_sum = K.sum(masked_inputs, axis=1)
        valid_count = K.sum(mask, axis=1)
        division = tf.math.divide(masked_sum, valid_count)
        division = tf.reshape(division, [-1, 1])
        #tf.print("division:", division.shape)
        return division
        #tf.print("TMP:", division.shape)
        #return tf.reshape(division, [-1, 1])

    def compute_mask(self, inputs, mask=None):
        return mask

def first_order_interactions(inputs, max_uid, max_mid, num_genres):
    age, userID, movieID, genres = inputs

    # all tensors are reshaped to (None, 1)
    dense_age = Dense(1)(age)

    embedded_uid = Embedding(max_uid+1, 1)(userID)
    reshaped_uid = Reshape((1,))(embedded_uid)

    embedded_mid = Embedding(max_mid+1, 1)(movieID)
    reshaped_mid = Reshape((1,))(embedded_mid)

    embedded_genres = Embedding(num_genres+1, 1, mask_zero=True)(genres)
    genres_mean = Tensor_Mean_Pooling()(embedded_genres, embedded_genres._keras_mask)

    y_1st_order = Add()([dense_age, reshaped_uid, reshaped_mid, genres_mean])
    return y_1st_order

In [59]:
#TODO: CHANGE AGE TO OCCUPATION

In [60]:
genres = Input((3,))
embedded_genres = Embedding(19, 1, mask_zero=True)(genres)
mask = embedded_genres._keras_mask

In [61]:
tmp = Tensor_Mean_Pooling()(embedded_genres, mask)
model = Model(inputs=genres, outputs=tmp)

In [62]:
model.predict(np.array([[18, 18, 18]]))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 70ms/step

array([[-0.00318988]], dtype=float32)

In [63]:
model.predict(np.array([[18, 0, 0]]))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step

array([[-0.00318988]], dtype=float32)

In [64]:
def second_order_interactions(inputs, max_uid, max_mid, num_genres, k):
    age, userID, movieID, genres = inputs

    dense_age = Dense(k)(age)  # shape (None, k)
    reshaped_age = Reshape((1,k))(dense_age)  # shape (None, 1, k)

    embedded_uid = Embedding(max_uid+1, k)(userID)

    embedded_mid = Embedding(max_mid+1, k)(movieID)  # shape (None, 1, k)

    embedded_genres = Embedding(num_genres+1, k)(genres)  # shape (None, 3, k)
    genres_mean = Tensor_Mean_Pooling2(keepdims=True)(embedded_genres)  # shape (None, 1, k)

    # concatenate all 2d embedded layers => (None, ?, k)
    embedded_2d = Concatenate(axis=1)([reshaped_age, embedded_uid, embedded_mid, genres_mean])

    # calcuate the interactions by simplication
    # sum of (x1*x2) = 0.5*[sum of (xi)^2 - sum of (xi^2)]
    tensor_sum = Lambda(lambda x: K.sum(x, axis=1))
    tensor_square = Lambda(lambda x: K.square(x))

    sum_of_embedded = tensor_sum(embedded_2d)
    square_of_embedded = tensor_square(embedded_2d)

    square_of_sum = Multiply()([sum_of_embedded, sum_of_embedded])
    sum_of_square = tensor_sum(square_of_embedded)

    sub = Subtract()([square_of_sum, sum_of_square])
    sub = Lambda(lambda x: x*0.5)(sub)
    y_2nd_order = Reshape((1,))(tensor_sum(sub))
    
    return y_2nd_order, embedded_2d

## Put together

In [65]:
def fm_model(max_uid, max_mid, num_genres, k, dnn_dr):
    inputs = define_input_layers()

    y_1st_order = first_order_interactions(inputs, max_uid, max_mid, num_genres)
    y_2nd_order, embedded_2d = second_order_interactions(inputs, max_uid, max_mid, num_genres, k)

    # combined deep and fm parts
    y = Concatenate()([y_1st_order, y_2nd_order])
    y = Dense(1)(y)

    fm_model_1d = Model(inputs, y_1st_order)
    fm_model_2d = Model(inputs, y_2nd_order)
    fm_model = Model(inputs, y)

    return fm_model_1d, fm_model_2d, fm_model

In [66]:
params = {
    'max_uid': ratings["userID"].max(),
    'max_mid': ratings["movieID"].max(),
    'num_genres': 18,
    'k':20,
    'dnn_dr': 0.5
}

fm_model_1d, fm_model_2d, fm_model = fm_model(**params)

In [67]:
params

{'max_uid': 6040, 'max_mid': 3952, 'num_genres': 18, 'k': 20, 'dnn_dr': 0.5}

In [68]:
def df2xy(ratings):
    x = [ratings["occupation"].values, 
         ratings["userID"].values, 
         ratings["movieID"].values, 
         np.concatenate(ratings["genres"].values).reshape(-1,3)]
    y = ratings["rating"].values
    return x,y

train_x, train_y = df2xy(train)
test_x, test_y = df2xy(test)

In [69]:
from tensorflow.keras.callbacks import  EarlyStopping, ModelCheckpoint
# train  model
fm_model.compile(
    loss=tf.keras.losses.MeanSquaredError(), optimizer=keras.optimizers.Adam(learning_rate=0.001)
)
early_stop = EarlyStopping(monitor='val_loss', patience=3)
model_ckp = ModelCheckpoint(filepath='./models/deepfm.weights.h5', 
                            monitor='val_loss',
                            save_weights_only=True, 
                            save_best_only=True)
#callbacks = [model_ckp,early_stop]
callbacks = [model_ckp]
train_history = fm_model.fit(train_x, train_y, 
                                  epochs=30, batch_size=2048, 
                                  validation_data=(test_x, test_y),
                                  callbacks = callbacks)

Epoch 1/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 5s 7ms/step - loss: 3.3397 - val_loss: 0.8791
Epoch 2/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.8582 - val_loss: 0.8520
Epoch 3/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.8405 - val_loss: 0.8431
Epoch 4/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 0.8286 - val_loss: 0.8376
Epoch 5/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.8249 - val_loss: 0.8349
Epoch 6/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.8193 - val_loss: 0.8324
Epoch 7/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.8175 - val_loss: 0.8327
Epoch 8/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.8124 - val_loss: 0.8332
Epoch 9/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.8160 - val_loss: 0.8286
Epoch 10/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.8086 - val_loss: 0.8266
Epoch 11/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.8091 - val_loss: 0.8242
Epoch 12/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.8033 - val_loss: 0.8204
Epoch 13/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.7976 - val_loss: 0.8181
Epoch 14/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.7900 - val_loss: 0.8129
Epoch 15/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.7826 - val_loss: 0.8080
Epoch 16/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.7741 - val_loss: 0.8021
Epoch 17/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 5s 7ms/step - loss: 0.7627 - val_loss: 0.7969
Epoch 18/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.7505 - val_loss: 0.7876
Epoch 19/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.7371 - val_loss: 0.7805
Epoch 20/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 0.7248 - val_loss: 0.7740
Epoch 21/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.7055 - val_loss: 0.7683
Epoch 22/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.6930 - val_loss: 0.7638
Epoch 23/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.6801 - val_loss: 0.7611
Epoch 24/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.6641 - val_loss: 0.7588
Epoch 25/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.6524 - val_loss: 0.7567
Epoch 26/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.6381 - val_loss: 0.7574
Epoch 27/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 0.6245 - val_loss: 0.7576
Epoch 28/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.6098 - val_loss: 0.7585
Epoch 29/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.5977 - val_loss: 0.7633
Epoch 30/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.5889 - val_loss: 0.7640

In [70]:
df_users = train.head(1)
user_id = df_users["userID"].iloc[0]

In [71]:
df_users

,userID,movieID,rating,timestamp,gender,age,occupation,zipCode,title,genres
325594,1926,34,4,974692704,F,1,0,95404,Babe (1995),"[9, 2, 1]"

In [72]:
#aixo es per quedar-se nomes amb les que tenen 1 rating com a minim
all_movies = matrix.drop_duplicates(subset=["movieID"])

In [73]:
all_movies

,userID,movieID,rating,timestamp,gender,age,occupation,zipCode,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),"[1, 0, 0]"
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),"[15, 9, 13]"
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),"[13, 5, 0]"
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),"[1, 0, 0]"
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)","[15, 9, 2]"
...,...,...,...,...,...,...,...,...,...,...
919876,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),"[12, 0, 0]"
940262,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),"[1, 0, 0]"
957826,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),"[1, 0, 0]"
970914,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),"[2, 1, 17]"
983062,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)","[12, 0, 0]"

In [74]:
df_user = train[train["userID"] == user_id]

In [75]:
movies_watched = set(df_user["movieID"].unique())

In [76]:
movies_not_watched = all_movies[~all_movies["movieID"].isin(movies_watched)]

In [77]:
movies_not_watched

,userID,movieID,rating,timestamp,gender,age,occupation,zipCode,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),"[1, 0, 0]"
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),"[15, 9, 13]"
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),"[13, 5, 0]"
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),"[1, 0, 0]"
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)","[15, 9, 2]"
...,...,...,...,...,...,...,...,...,...,...
919876,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),"[12, 0, 0]"
940262,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),"[1, 0, 0]"
957826,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),"[1, 0, 0]"
970914,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),"[2, 1, 17]"
983062,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)","[12, 0, 0]"

In [78]:
predict_users = test["userID"].unique()

In [79]:
len(predict_users)

6037

In [80]:
def dcg(scores):
    return np.sum((2**scores - 1) / np.log2(np.arange(1, scores.size + 1) + 1))

def ndcg(pred, true):
    return dcg(pred)/dcg(true)

ndcg_sum = 0
for user in tqdm(predict_users):
    test_movies = test[test["userID"] == user]
    pred, true = df2xy(test_movies)
    pred = fm_model.predict(pred, verbose=0).flatten()

    data = pd.DataFrame({
        "movieID": test_movies["movieID"].values,
        "pred": pred,
        "true": true
    })

    data.sort_values(by="pred", ascending=False, inplace=True)
    data = data[:60]
    data.sort_values(by="true", ascending=False, inplace=True)
    true_rel = np.arange(data.shape[0], 0, -1)
    data["relevance"] = true_rel
    data.sort_values(by="pred", ascending=False, inplace=True)

    ndcg_score = ndcg(data["relevance"].values, true_rel)
    #print(count, ndcg_score)
    #print(data)
    #print(f"p:{data['relevance'].values.tolist()}\na:{true_rel.tolist()}")
    ndcg_sum += ndcg_score

100%|███████████████████████████████████████| 6037/6037 [07:20<00:00, 13.70it/s]

In [41]:
tmp2_score = ndcg_sum/len(predict_users)
tmp2_score

0.7728604554346035

In [81]:
tmp_score = ndcg_sum/len(predict_users)
tmp_score

0.7762428710339904

In [82]:
ndcg_sum = 0
for user in tqdm(predict_users):
    test_movies = test[test["userID"] == user]
    pred, true = df2xy(test_movies)
    pred = fm_model.predict(pred, verbose=0).flatten()

    data = pd.DataFrame({
        "movieID": test_movies["movieID"].values,
        "pred": pred,
        "true": true
    })

    data.sort_values(by="pred", ascending=False, inplace=True)
    data = data[:5]
    data.sort_values(by="true", ascending=False, inplace=True)
    true_rel = np.arange(data.shape[0], 0, -1)
    data["relevance"] = true_rel
    data.sort_values(by="pred", ascending=False, inplace=True)

    ndcg_score = ndcg(data["relevance"].values, true_rel)
    #print(count, ndcg_score)
    #print(data)
    #print(f"p:{data['relevance'].values.tolist()}\na:{true_rel.tolist()}")
    ndcg_sum += ndcg_score

100%|███████████████████████████████████████| 6037/6037 [07:43<00:00, 13.03it/s]

In [83]:
tmp_score5 = ndcg_sum/len(predict_users)
tmp_score5

0.8965756650754663

In [ ]:
#calcular l'score també amb el mean TMP2 dolent
#el paper indi no serveix perque es amb feedback unicament de precedencia

In [127]:
calib_users, test_users = predict_users[:100], predict_users[100:]

In [88]:
calib = test[test["userID"].isin(calib_users)]

In [89]:
calib

,userID,movieID,rating,timestamp,gender,age,occupation,zipCode,title,genres
989001,5972,593,5,956952291,F,25,20,55428,"Silence of the Lambs, The (1991)","[1, 4, 0]"
984978,5952,2401,4,957145342,F,45,1,78231,Pale Rider (1985),"[17, 0, 0]"
820569,4933,1805,2,1011684938,M,25,15,94040,Wild Things (1998),"[1, 14, 4]"
373691,2181,587,2,975634724,M,25,0,45245,Ghost (1990),"[2, 5, 4]"
417291,2513,1641,5,974072036,M,56,1,37922,"Full Monty, The (1997)","[2, 0, 0]"
...,...,...,...,...,...,...,...,...,...,...
971854,5854,547,4,958275349,M,45,7,33135,Surviving the Game (1994),"[3, 7, 4]"
951815,5749,2682,4,962843316,M,25,2,94117,Limbo (1999),"[1, 0, 0]"
552681,3401,524,4,980118995,M,35,7,76109,Rudy (1993),"[1, 0, 0]"
813592,4884,3697,2,962745564,M,35,14,90266,Predator 2 (1990),"[3, 8, 4]"
486900,2996,2422,3,972701070,M,18,0,63011,"Karate Kid III, The (1989)","[3, 7, 1]"

In [91]:
s = calib.groupby("userID").size()

In [95]:
s[s >= 4]

userID
13       18
48      113
69       11
178      27
272      94
       ...
5854     90
5857     36
5878    109
5952     22
5972     87
Length: 100, dtype: int64

In [168]:
def sum_until_rating(pred, true, rating):
    sum_value = 0
    for p, t in zip(pred, true):
        sum_value += p
        if t == rating:
            break
    return sum_value

list_sum_ratings = []
for user in calib_users:
    calib_movies = test[test["userID"] == user]
    pred, true = df2xy(calib_movies)
    pred = fm_model.predict(pred, verbose=0).flatten()

    data = pd.DataFrame({
        "movieID": calib_movies["movieID"].values,
        "pred": pred,
        "true": true
    })

    #data.sort_values(by="pred", ascending=False, inplace=True)
    data = data.sample(min(5, data.shape[0]))
    #data.sort_values(by="true", ascending=False, inplace=True)
    #true_rel = np.arange(data.shape[0], 0, -1)
    #data["relevance"] = true_rel
    data.sort_values(by="pred", ascending=False, inplace=True)
    sur = sum_until_rating(data["pred"].values, data["true"].values, data["true"].max())
    list_sum_ratings.append(sur)
    #print(sur)
    #print(count, ndcg_score)
    #print(data)
    #print(f"p:{data['relevance'].values.tolist()}\na:{true_rel.tolist()}")

In [169]:
q_hat = np.quantile(list_sum_ratings, 0.91, method='higher')

In [170]:
q_hat

13.284423112869263

In [171]:
def recommend(movies, pred, q_hat):
    recom = []
    sum_value = 0
    for m, p in zip(movies, pred):
        if sum_value >= q_hat:
            break
        recom.append(m)
        sum_value += p
    return recom

count = 0
for user in test_users:
    if count == 100:
        break
    test_movies = test[test["userID"] == user]
    pred, true = df2xy(test_movies)
    pred = fm_model.predict(pred, verbose=0).flatten()

    data = pd.DataFrame({
        "movieID": test_movies["movieID"].values,
        "pred": pred,
        "true": true
    })

    #data.sort_values(by="pred", ascending=False, inplace=True)
    data = data.sample(min(5, data.shape[0]))
    #data.sort_values(by="true", ascending=False, inplace=True)
    #true_rel = np.arange(data.shape[0], 0, -1)
    #data["relevance"] = true_rel
    data.sort_values(by="pred", ascending=False, inplace=True)
    recom = recommend(data["movieID"].values, data["pred"].values, q_hat)
    print(recom)
    #print(count, ndcg_score)
    print(data)
    #print(f"p:{data['relevance'].values.tolist()}\na:{true_rel.tolist()}")
    count += 1

[2762, 3006, 2463]
    movieID      pred  true
18     2762  4.802431     5
64     3006  4.444386     5
38     2463  4.120302     3
43      497  3.899288     4
6       597  3.763146     1
[914, 1269, 1617, 2010]
     movieID      pred  true
10       914  4.036049     4
104     1269  3.957449     4
143     1617  3.732510     4
186     2010  3.475136     4
60      2463  3.216617     3
[2355, 3536, 1036, 3785]
    movieID      pred  true
7      2355  3.938504     4
10     3536  3.780761     4
14     1036  3.678993     5
3      3785  3.209332     3
4      3717  2.247760     3
[1136, 2058, 1967, 329]
    movieID      pred  true
28     1136  4.854401     5
22     2058  3.874148     3
34     1967  3.212008     3
2       329  3.094720     3
13     1030  2.528744     4
[2951, 2273, 10, 996]
    movieID      pred  true
32     2951  4.223181     5
41     2273  3.786168     4
19       10  3.460948     3
34      996  3.426874     4
26      303  3.075021     5
[2921, 3161, 3308, 1377, 3157]
    movieID      pred  true
77     2921  3.495084     3
65     3161  3.139307     2
35     3308  2.897822     3
66     1377  2.817240     3
86     3157  2.605618     2
[3097, 1641, 1201]
    movieID      pred  true
3      3097  4.651103     4
36     1641  4.568268     4
16     1201  4.362154     5
39     3948  3.731913     4
8      1801  3.380338     4
[3724, 3504, 186, 276]
     movieID      pred  true
5       3724  4.336814     4
53      3504  4.227709     4
24       186  3.963300     4
122      276  3.680923     4
83      1862  3.027632     3
[1206, 2872, 1747, 3740]
    movieID      pred  true
11     1206  4.837446     5
14     2872  3.660230     3
18     1747  3.622311     4
34     3740  2.802953     3
4      3917  2.725486     4
[1259, 3448, 3763, 3809]
    movieID      pred  true
67     1259  4.877684     4
72     3448  4.557041     5
14     3763  3.602700     4
34     3809  3.541378     4
8      1924  1.800041     2
[1136, 1407, 1734, 1954]
     movieID      pred  true
84      1136  3.921722     3
38      1407  3.573666     5
109     1734  3.425421     5
63      1954  3.257426     4
91      2034  2.413103     3
[515, 2966, 1358, 1678]
    movieID      pred  true
21      515  4.534311     5
2      2966  4.022905     4
23     1358  4.022706     5
13     1678  3.860869     4
9      3011  3.452082     4
[1721, 2353, 3095, 736]
    movieID      pred  true
13     1721  4.661545     5
6      2353  4.223049     4
11     3095  4.203407     2
17      736  3.538546     5
7        36  3.261411     3
[1214, 555, 457, 3101]
    movieID      pred  true
11     1214  4.777095     4
3       555  3.873212     4
10      457  3.817948     5
6      3101  3.522404     4
14     1092  3.273073     5
[750, 2858, 111]
    movieID      pred  true
3       750  5.337249     5
19     2858  4.830333     4
17      111  4.628140     5
22     1250  4.536493     5
21      969  4.484536     5
[1198, 2890, 3726]
    movieID      pred  true
28     1198  4.994207     5
16     2890  4.375001     4
66     3726  4.236152     5
40     2287  3.899884     5
41     2111  3.298908     4
[2028, 39, 3160, 1270]
   movieID      pred  true
1     2028  5.157274     3
8       39  3.806571     2
6     3160  3.691061     5
4     1270  3.663333     4
5     1210  3.377101     2
[3578, 196, 1544, 2989]
    movieID      pred  true
6      3578  4.524367     5
7       196  3.976943     4
27     1544  3.868056     4
14     2989  3.800934     4
31     2872  3.565359     4
[2761, 919, 1234, 265]
    movieID      pred  true
24     2761  4.330355     3
4       919  4.032631     4
40     1234  3.869091     3
46      265  3.325064     4
11     2504  2.598702     3
[232, 2866, 3445, 2004]
     movieID      pred  true
117      232  3.878958     5
81      2866  3.594050     4
40      3445  3.175537     3
85      2004  2.673559     3
44      2646  2.544141     2
[2746, 1210, 364, 2694]
    movieID      pred  true
40     2746  4.102290     5
43     1210  3.829723     5
25      364  3.432294     4
79     2694  2.518644     3
6      2642  2.401595     2
[1270, 1784, 1704]
    movieID      pred  true
55     1270  5.149426     5
3      1784  4.659288     3
46     1704  4.575212     4
51     1374  4.081579     4
14       34  4.016013     5
[11, 1641, 2808, 24]
    movieID      pred  true
0        11  4.292533     4
26     1641  3.757299     3
45     2808  3.317820     2
7        24  3.310468     3
48     1837  2.994201     2
[924, 2019, 1719]
    movieID      pred  true
26      924  5.056065     5
42     2019  5.006910     5
13     1719  4.052875     5
36      866  3.841377     4
10     1419  3.627414     3
[2694, 2089, 1888, 2291]
    movieID      pred  true
56     2694  4.256355     4
33     2089  3.725968     3
39     1888  3.527739     5
8      2291  3.194909     4
58      870  2.831762     4
[1968, 288, 1416, 1022]
    movieID      pred  true
81     1968  4.188925     5
59      288  3.650458     4
1      1416  3.294781     4
61     1022  3.079482     3
14      473  2.790307     4
[1223, 1301, 260, 2083]
   movieID      pred  true
4     1223  4.493973     5
3     1301  4.096824     4
6      260  3.616553     2
2     2083  3.392534     3
7     3638  1.783554     1
[1276, 1266, 1680, 1805]
     movieID      pred  true
32      1276  4.747277     5
93      1266  4.473540     5
110     1680  3.609592     3
44      1805  3.189178     2
68      2625  2.582852     2
[2858, 1284, 924]
   movieID      pred  true
9     2858  4.690177     2
0     1284  4.449198     4
7      924  4.411621     5
8     1225  4.188685     5
4      593  4.153028     4
[344, 440, 377, 2539]
    movieID      pred  true
3       344  4.159351     4
12      440  4.077731     5
1       377  3.955037     2
7      2539  3.783931     4
32     3623  3.157779     2
[899, 3911, 1660, 1441]
    movieID      pred  true
67      899  4.616220     5
40     3911  4.390437     5
44     1660  4.138667     4
8      1441  3.901306     4
43     2524  3.495503     4
[110, 2762, 2863]
    movieID      pred  true
32      110  4.887131     5
4      2762  4.869592     5
27     2863  3.783697     2
6      3927  3.503755     4
8      2369  2.582679     2
[14, 2599, 991, 3301, 2190]
    movieID      pred  true
6        14  3.499214     4
2      2599  3.440074     1
37      991  2.960061     3
28     3301  2.736707     2
52     2190  2.707752     4
[899, 3741, 541]
   movieID      pred  true
3      899  4.913996     5
1     3741  4.742463     5
0      541  4.593290     5
5      858  4.433072     5
4     3182  4.406757     5
[541, 3362, 2150]
    movieID      pred  true
7       541  5.634471     5
23     3362  4.469243     4
9      2150  3.996575     5
13     3176  3.580441     4
16     3450  3.124275     2
[2762, 1206, 3525]
    movieID      pred  true
21     2762  4.972642     5
23     1206  4.947000     5
35     3525  4.638210     4
22     3524  4.316257     5
1      3577  3.667476     4
[2396, 1148, 1267]
   movieID      pred  true
5     2396  4.807091     3
0     1148  4.607272     4
2     1267  4.349387     4
4     3629  4.249722     4
1      111  4.174165     5
[2997, 2917, 206]
    movieID      pred  true
8      2997  4.789022     4
4      2917  4.680132     5
17      206  4.115477     4
9       164  3.923729     3
10       32  3.917520     5
[1253, 3868, 1356, 1907]
    movieID      pred  true
42     1253  4.226988     5
66     3868  3.845229     5
52     1356  3.278011     4
73     1907  3.207475     3
60      377  3.028064     3
[2959, 2712, 2997, 2996]
   movieID      pred  true
2     2959  4.003401     4
1     2712  3.887469     2
4     2997  3.835969     4
5     2996  2.877791     1
3     3113  2.548998     4
[1784, 3793, 1597, 2395]
    movieID      pred  true
78     1784  4.149258     5
27     3793  3.861211     3
84     1597  3.685988     5
53     2395  2.805472     4
57     3004  2.660044     2
[2916, 1268, 1518, 3208, 3593]
    movieID      pred  true
5      2916  3.309736     4
42     1268  3.051861     3
21     1518  3.021818     3
78     3208  2.245676     2
97     3593  1.307919     1
[1260, 1940, 3788]
   movieID      pred  true
2     1260  5.122314     5
5     1940  4.574892     4
6     3788  4.503951     5
4     3481  4.249796     4
3     3810  3.623940     4
[1408, 3791, 2367, 1028]
    movieID      pred  true
89     1408  4.408128     5
14     3791  3.465947     3
79     2367  3.148829     3
25     1028  2.670937     3
38     2712  1.757271     2
[1254, 2762, 2750, 589]
    movieID      pred  true
45     1254  4.524936     4
14     2762  4.235330     2
36     2750  3.776251     3
7       589  3.374307     3
3      3649  3.111857     4
[32, 1278, 2268]
    movieID      pred  true
3        32  4.901514     4
18     1278  4.438280     5
0      2268  4.438140     4
15     1304  4.187832     5
4       832  3.968888     4
[906, 2420, 3150, 2001]
    movieID      pred  true
23      906  4.669532     5
6      2420  3.715970     4
20     3150  3.707408     3
28     2001  3.479303     3
24     3709  2.107471     3
[2797, 2144, 3501, 3552]
   movieID      pred  true
0     2797  4.222239     4
4     2144  4.144274     2
1     3501  4.076049     3
7     3552  4.026909     4
8     2518  3.790583     4
[296, 1639, 3386, 3707]
    movieID      pred  true
15      296  4.765217     4
6      1639  3.888556     4
18     3386  3.478378     3
1      3707  2.931749     3
24     1322  1.648154     1
[1580, 3623, 2541, 1816, 494]
    movieID      pred  true
53     1580  3.747432     4
6      3623  3.011733     4
55     2541  2.976674     3
18     1816  2.921889     3
86      494  2.841397     4
[2797, 2565, 748, 1113]
    movieID      pred  true
15     2797  4.385602     4
9      2565  4.322096     4
2       748  3.509490     4
5      1113  3.355082     4
10     1562  3.042975     4
[1571, 2112, 1370, 168, 3392]
     movieID      pred  true
60      1571  3.697727     3
9       2112  3.605316     3
32      1370  2.827679     3
47       168  2.479647     3
126     3392  1.786988     3
[1259, 3253, 500, 3809]
    movieID      pred  true
11     1259  4.404498     3
9      3253  3.427630     3
45      500  3.328883     3
37     3809  3.286252     2
36     1380  3.284017     4
[1610, 2081, 3698]
     movieID      pred  true
13      1610  4.846041     5
23      2081  4.596287     4
114     3698  3.952365     3
83       281  3.771131     5
45      2803  3.683014     4
[1036, 1008, 3501, 2118]
    movieID      pred  true
12     1036  4.470935     4
47     1008  3.468058     5
30     3501  3.126624     4
8      2118  2.995840     2
76     1682  2.958941     2
[1466, 175, 163, 481]
    movieID      pred  true
75     1466  4.558326     5
55      175  4.010086     5
34      163  3.922113     5
27      481  3.916376     4
68     2822  2.733645     4
[1090, 1965, 3301, 2102, 3450]
   movieID      pred  true
2     1090  4.333308     4
3     1965  3.591058     5
1     3301  2.426388     5
0     2102  2.240625     4
4     3450  2.178333     3
[1234, 1963, 3061]
     movieID      pred  true
66      1234  5.060902     4
59      1963  4.797303     5
106     3061  4.281825     5
154     3836  4.166532     4
96      1888  3.144915     3
[1961, 1639, 2973, 3114]
    movieID      pred  true
0      1961  4.237944     4
14     1639  4.084641     4
11     2973  3.911404     3
10     3114  3.774121     5
6      1219  3.284155     3
[2028, 3083, 1372, 292]
    movieID      pred  true
22     2028  4.574669     5
53     3083  4.420973     1
23     1372  3.387722     5
5       292  3.154167     3
37     3798  2.641786     2
[1580, 1408, 2916, 39]
    movieID      pred  true
21     1580  4.438976     5
11     1408  4.348985     5
5      2916  4.240358     5
4        39  3.747262     3
6      2322  3.742835     4
[3006, 3176, 1784, 1498]
   movieID      pred  true
9     3006  4.640103     5
6     3176  4.254197     4
7     1784  4.043975     4
4     1498  3.874358     4
1     3316  3.461643     5
[2865, 2107, 1902, 371, 3445]
    movieID      pred  true
43     2865  3.566618     2
87     2107  3.095238     2
25     1902  2.575787     4
74      371  2.132316     2
65     3445  1.473888     3
[1179, 1175, 1251, 1810]
    movieID      pred  true
64     1179  4.181281     4
14     1175  4.072699     4
97     1251  4.049498     3
82     1810  3.822420     4
37     2419  3.574867     3
[2797, 994, 2699, 3394]
    movieID      pred  true
10     2797  4.623218     4
29      994  3.650572     4
23     2699  3.304955     4
14     3394  3.251222     3
34     2445  3.104985     4
[357, 3819, 3546, 3070]
    movieID      pred  true
56      357  3.995652     5
2      3819  3.788919     3
58     3546  3.155813     4
57     3070  2.985273     1
30     2815  2.440837     3
[112, 3082, 3623, 533]
    movieID      pred  true
1       112  4.008776     3
10     3082  3.657366     3
16     3623  3.274385     2
19      533  2.409979     2
23     1391  2.375514     1
[296, 3424, 1343, 3260]
    movieID      pred  true
79      296  4.699251     5
23     3424  4.421326     5
25     1343  3.852968     3
86     3260  3.481254     3
21      851  3.433522     4
[317, 3440, 986, 1947, 1939]
     movieID      pred  true
77       317  3.631883     3
3       3440  3.082862     1
4        986  1.274621     1
113     1947  1.056642     1
116     1939  0.448760     1
[1079, 3359, 3552, 3566]
    movieID      pred  true
45     1079  4.231795     5
7      3359  3.982884     3
24     3552  3.903440     4
20     3566  3.394221     1
9      2269  2.333239     3
[3497, 2716, 2527, 3253, 1517]
    movieID      pred  true
1      3497  3.642069     4
19     2716  3.179232     3
8      2527  2.813308     4
12     3253  2.544892     2
7      1517  2.146205     1
[923, 1219, 3152]
    movieID      pred  true
11      923  4.901171     5
12     1219  4.837789     4
1      3152  4.827863     5
7      1083  4.148953     3
20     3189  3.662269     4
[2470, 3675, 2115]
    movieID      pred  true
25     2470  4.533440     5
33     3675  4.461420     5
20     2115  4.403636     4
30      594  4.004117     4
10     3635  3.832638     4
[1685, 2104, 362, 3257]
     movieID      pred  true
101     1685  4.090389     2
26      2104  3.379166     4
117      362  3.277222     3
71      3257  3.262354     3
16      2042  2.948612     3
[585, 2837, 2436, 1747]
   movieID      pred  true
0      585  4.505836     4
1     2837  4.389864     5
6     2436  4.050500     4
3     1747  3.805995     1
2     1959  3.257999     2
[198, 3072, 799, 2082, 3316]
     movieID      pred  true
81       198  2.982950     3
50      3072  2.803327     3
177      799  2.788898     3
187     2082  1.419099     1
189     3316  1.083058     1
[724, 858, 1051]
   movieID      pred  true
0      724  5.554045     5
2      858  5.090991     5
3     1051  4.195671     5
1     2720  3.757578     5
[1356, 2991, 3253, 671]
    movieID      pred  true
1      1356  3.978465     4
5      2991  3.714024     4
10     3253  3.587854     4
33      671  3.573664     5
8      1037  3.180311     4
[1267, 3386, 144, 1584, 2615]
     movieID      pred  true
160     1267  3.504145     3
98      3386  2.681685     4
28       144  2.402311     3
12      1584  1.849825     2
77      2615  1.826704     1
[356, 1259, 1240, 21]
    movieID      pred  true
32      356  3.938664     4
31     1259  3.803595     3
39     1240  3.734458     3
38       21  3.299054     3
46     1917  2.946516     3
[377, 3081, 3740, 2805, 1626]
    movieID      pred  true
54      377  4.229043     5
8      3081  3.145619     3
13     3740  3.051443     2
40     2805  2.828433     3
24     1626  2.647462     2
[1200, 1136, 3408, 1573]
    movieID      pred  true
32     1200  4.271920     5
20     1136  4.078895     4
16     3408  3.040527     4
7      1573  2.860449     3
9      3286  1.536739     2
[3555, 460, 2683, 2053]
    movieID      pred  true
46     3555  4.165034     5
34      460  3.738712     3
74     2683  3.620735     3
86     2053  3.476553     3
97     2021  3.391668     3
[3481, 3863, 1876, 2837]
    movieID      pred  true
19     3481  4.282575     4
51     3863  3.948538     4
42     1876  3.277394     4
46     2837  3.221402     3
48     1835  2.170111     2
[2908, 1249, 2028]
    movieID      pred  true
9      2908  4.884457     5
12     1249  4.524083     4
1      2028  4.406970     4
5      3556  3.799661     3
10     2976  3.670001     4
[1213, 3629, 3260, 3543]
    movieID      pred  true
23     1213  3.612092     5
35     3629  3.553075     3
32     3260  3.299017     2
0      3543  3.107560     4
30     3727  2.550420     3
[1079, 1883, 2087, 3793]
    movieID      pred  true
41     1079  4.013955     3
65     1883  3.567142     3
7      2087  3.351372     3
54     3793  3.158555     3
55     1866  1.885852     2
[1517, 3598, 1179, 2866]
    movieID      pred  true
1      1517  4.379384     3
11     3598  3.977568     3
38     1179  3.644270     3
28     2866  3.455776     4
39     1097  2.681597     5
[2947, 3330, 1228, 3243]
    movieID      pred  true
19     2947  4.625416     4
80     3330  4.379083     4
12     1228  4.216176     4
13     3243  3.285503     3
33     3584  3.184935     4
[589, 180, 3882, 3264]
    movieID      pred  true
16      589  4.328046     5
60      180  4.221824     5
15     3882  3.937665     4
20     3264  3.534064     4
61     1805  3.413509     4
[2985, 2376, 1479, 3841]
    movieID      pred  true
46     2985  3.697146     4
40     2376  3.631705     4
24     1479  3.385053     4
27     3841  3.079201     3
13     2817  1.978914     1
[1203, 954, 3095]
    movieID      pred  true
36     1203  4.713406     4
14      954  4.425159     5
27     3095  4.361767     2
57     3271  3.881660     4
23     2243  3.568202     4
[1207, 3629, 1340, 927]
    movieID      pred  true
23     1207  4.474169     4
11     3629  4.220227     4
17     1340  4.082939     4
5       927  3.853140     5
19     2363  2.828847     3
[3498, 1357, 741, 3363]
     movieID      pred  true
196     3498  3.653537     2
216     1357  3.352481     3
99       741  3.348809     3
164     3363  3.300610     4
38      3098  3.039418     2
[1584, 902, 2174, 2093, 1342]
    movieID      pred  true
82     1584  3.151368     3
37      902  3.012510     2
92     2174  2.397830     2
60     2093  1.834620     2
96     1342  1.766362     1
[265, 3342, 947, 2571]
    movieID      pred  true
30      265  4.265298     5
31     3342  4.183116     5
8       947  3.856933     4
1      2571  3.353995     3
3      1573  2.162502     2
[1704, 1193, 2132, 339]
    movieID      pred  true
8      1704  4.314690     3
11     1193  4.188260     5
21     2132  4.147290     2
31      339  4.009272     3
26     2919  3.453692     4
[2858, 2028, 2700]
    movieID      pred  true
9      2858  5.574397     5
3      2028  4.924747     5
4      2700  4.110062     5
16     3181  4.064536     3
5      3952  4.018124     2
[1683, 858, 1097]
    movieID      pred  true
84     1683  4.652253     4
94      858  4.464802     5
82     1097  4.330825     4
46     1680  4.319278     2
77     3186  4.051018     4
[1584, 2098, 1262, 3633]
    movieID      pred  true
21     1584  4.238538     5
59     2098  4.018276     4
11     1262  3.989544     4
34     3633  3.609725     3
50     2642  3.483193     3