# Conformal prediction for Recommenders

In [1]:
# !wget https://files.grouplens.org/datasets/movielens/ml-1m.zip
# !unzip -o ml-1m.zip

In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
import tensorflow.keras.backend as K
from collections import Counter
from itertools import chain
from sklearn.model_selection import train_test_split
from tensorflow import keras
from tensorflow.keras.layers import Add, Dense, Concatenate, Embedding, Input, Lambda, Layer, Multiply, Reshape, Subtract
from tensorflow.keras.models import Model
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tqdm import tqdm

In [3]:
users = pd.read_csv('data/ml-1m/users.dat', sep='::', engine='python', names=['userID', 'gender', 'age', 'occupation', 'zipCode'])
movies = pd.read_csv('data/ml-1m/movies.dat', sep='::', engine='python', names=['movieID', 'title', 'genres'], encoding='latin-1')
ratings = pd.read_csv('data/ml-1m/ratings.dat', sep='::', engine='python', names=['userID', 'movieID', 'rating', 'timestamp'])

In [4]:
print("rows:", users.shape[0])
users.head()

rows: 6040

   userID gender  age  occupation zipCode
0       1      F    1          10   48067
1       2      M   56          16   70072
2       3      M   25          15   55117
3       4      M   45           7   02460
4       5      M   25          20   55455

In [5]:
print("rows:", movies.shape[0])
movies.head()

rows: 3883

   movieID                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [6]:
print("rows:", ratings.shape[0])
ratings.head()

rows: 1000209

   userID  movieID  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [7]:
genres = movies["genres"].apply(lambda x: x.split("|"))
genres = chain.from_iterable(genres)
count_genres = dict(Counter(genres))
num_genres = len(count_genres)
print(f"num_genres: {num_genres}\n", dict(sorted(count_genres.items(), key=lambda item: item[1], reverse=True)))

num_genres: 18
 {'Drama': 1603, 'Comedy': 1200, 'Action': 503, 'Thriller': 492, 'Romance': 471, 'Horror': 343, 'Adventure': 283, 'Sci-Fi': 276, "Children's": 251, 'Crime': 211, 'War': 143, 'Documentary': 127, 'Musical': 114, 'Mystery': 106, 'Animation': 105, 'Fantasy': 68, 'Western': 68, 'Film-Noir': 44}

In [8]:
# lower=False?
tokenizer = Tokenizer(split='|', filters='')
tokenizer.fit_on_texts(movies["genres"].values)
tokenizer.word_index

{'drama': 1,
 'comedy': 2,
 'action': 3,
 'thriller': 4,
 'romance': 5,
 'horror': 6,
 'adventure': 7,
 'sci-fi': 8,
 "children's": 9,
 'crime': 10,
 'war': 11,
 'documentary': 12,
 'musical': 13,
 'mystery': 14,
 'animation': 15,
 'fantasy': 16,
 'western': 17,
 'film-noir': 18}

In [9]:
# is this the best way?? why not three-hot? with encoding_initializer='eye'

In [10]:
seqs = tokenizer.texts_to_sequences(movies["genres"].values)
seqs = pad_sequences(seqs, maxlen=3,padding='post').tolist()

In [11]:
idx = 2
print(movies["genres"].iloc[idx])
print(seqs[idx])

Comedy|Romance
[2, 5, 0]

In [12]:
movies["genres"] = seqs

In [13]:
matrix = pd.merge(pd.merge(ratings, users), movies)
matrix

,userID,movieID,rating,timestamp,gender,age,occupation,zipCode,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),"[1, 0, 0]"
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),"[15, 9, 13]"
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),"[13, 5, 0]"
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),"[1, 0, 0]"
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)","[15, 9, 2]"
...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,M,25,6,11106,Weekend at Bernie's (1989),"[2, 0, 0]"
1000205,6040,1094,5,956704887,M,25,6,11106,"Crying Game, The (1992)","[1, 5, 11]"
1000206,6040,562,5,956704746,M,25,6,11106,Welcome to the Dollhouse (1995),"[2, 1, 0]"
1000207,6040,1096,4,956715648,M,25,6,11106,Sophie's Choice (1982),"[1, 0, 0]"
1000208,6040,1097,4,956715569,M,25,6,11106,E.T. the Extra-Terrestrial (1982),"[1, 16, 8]"

In [14]:
#es podria separar deixant a test els mes recents

In [15]:
train, test = train_test_split(matrix, test_size=0.2, random_state=7)

In [16]:
def define_input_layers():
    # numerical features
    age = Input((1,))

    # single-level categorical features
    userID = Input((1,))
    movieID = Input((1,))

    # multi-level categorical features
    genres = Input((3,))

    return age, userID, movieID, genres

In [17]:
def Tensor_Mean_Pooling2(keepdims=False):
    def f(x, mask):
        mean = K.mean(x, axis=1, keepdims=keepdims)
        #tf.print("inputs2:", x)
        #tf.print("mask2:", mask)
        #tf.print("division2:", mean.shape)
        return mean
    return Lambda(f)

class Tensor_Mean_Pooling(tf.keras.layers.Layer):
    def __init__(self, **kwargs):
        super().__init__(**kwargs)

    def call(self, inputs, mask):
        #tf.print("inputs:", inputs.shape)
        #PROVAR AMB 2 UNICS INPUTS A L'ULTIMA CEL·LA I ANAR MIRANT
        tensor = tf.reshape(inputs, [-1, 3])
        mask = tf.cast(mask, inputs.dtype)
        #tf.print("mask:", mask.shape)
        masked_inputs = tf.multiply(tensor, mask)
        #tf.print("masked_tensor:", masked_inputs)
        masked_sum = K.sum(masked_inputs, axis=1)
        valid_count = K.sum(mask, axis=1)
        division = tf.math.divide(masked_sum, valid_count)
        division = tf.reshape(division, [-1, 1])
        #tf.print("division:", division.shape)
        return division
        #tf.print("TMP:", division.shape)
        #return tf.reshape(division, [-1, 1])

    def compute_mask(self, inputs, mask=None):
        return mask

def first_order_interactions(inputs, max_uid, max_mid, num_genres):
    age, userID, movieID, genres = inputs

    # all tensors are reshaped to (None, 1)
    dense_age = Dense(1)(age)

    embedded_uid = Embedding(max_uid+1, 1)(userID)
    reshaped_uid = Reshape((1,))(embedded_uid)

    embedded_mid = Embedding(max_mid+1, 1)(movieID)
    reshaped_mid = Reshape((1,))(embedded_mid)

    embedded_genres = Embedding(num_genres+1, 1, mask_zero=True)(genres)
    genres_mean = Tensor_Mean_Pooling()(embedded_genres, embedded_genres._keras_mask)

    y_1st_order = Add()([dense_age, reshaped_uid, reshaped_mid, genres_mean])
    return y_1st_order

In [18]:
#TODO: CHANGE AGE TO OCCUPATION

In [19]:
genres = Input((3,))
embedded_genres = Embedding(19, 1, mask_zero=True)(genres)
mask = embedded_genres._keras_mask

In [20]:
tmp = Tensor_Mean_Pooling()(embedded_genres, mask)
model = Model(inputs=genres, outputs=tmp)

WARNING:tensorflow:From c:\Users\r.alvarado.chamatrin\Anaconda3\envs\cpuq\lib\site-packages\keras\src\backend\tensorflow\core.py:184: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

In [21]:
model.predict(np.array([[18, 18, 18]]))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 72ms/step

array([[0.00989604]], dtype=float32)

In [22]:
model.predict(np.array([[18, 0, 0]]))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step

array([[0.00989604]], dtype=float32)

In [23]:
def second_order_interactions(inputs, max_uid, max_mid, num_genres, k):
    age, userID, movieID, genres = inputs

    dense_age = Dense(k)(age)  # shape (None, k)
    reshaped_age = Reshape((1,k))(dense_age)  # shape (None, 1, k)

    embedded_uid = Embedding(max_uid+1, k)(userID)

    embedded_mid = Embedding(max_mid+1, k)(movieID)  # shape (None, 1, k)

    embedded_genres = Embedding(num_genres+1, k)(genres)  # shape (None, 3, k)
    genres_mean = Tensor_Mean_Pooling2(keepdims=True)(embedded_genres)  # shape (None, 1, k)

    # concatenate all 2d embedded layers => (None, ?, k)
    embedded_2d = Concatenate(axis=1)([reshaped_age, embedded_uid, embedded_mid, genres_mean])

    # calcuate the interactions by simplication
    # sum of (x1*x2) = 0.5*[sum of (xi)^2 - sum of (xi^2)]
    tensor_sum = Lambda(lambda x: K.sum(x, axis=1))
    tensor_square = Lambda(lambda x: K.square(x))

    sum_of_embedded = tensor_sum(embedded_2d)
    square_of_embedded = tensor_square(embedded_2d)

    square_of_sum = Multiply()([sum_of_embedded, sum_of_embedded])
    sum_of_square = tensor_sum(square_of_embedded)

    sub = Subtract()([square_of_sum, sum_of_square])
    sub = Lambda(lambda x: x*0.5)(sub)
    y_2nd_order = Reshape((1,))(tensor_sum(sub))
    
    return y_2nd_order, embedded_2d

## Put together

In [24]:
def fm_model(max_uid, max_mid, num_genres, k, dnn_dr):
    inputs = define_input_layers()

    y_1st_order = first_order_interactions(inputs, max_uid, max_mid, num_genres)
    y_2nd_order, embedded_2d = second_order_interactions(inputs, max_uid, max_mid, num_genres, k)

    # combined deep and fm parts
    y = Concatenate()([y_1st_order, y_2nd_order])
    y = Dense(1)(y)

    fm_model_1d = Model(inputs, y_1st_order)
    fm_model_2d = Model(inputs, y_2nd_order)
    fm_model = Model(inputs, y)

    return fm_model_1d, fm_model_2d, fm_model

In [25]:
params = {
    'max_uid': ratings["userID"].max(),
    'max_mid': ratings["movieID"].max(),
    'num_genres': 18,
    'k':20,
    'dnn_dr': 0.5
}

fm_model_1d, fm_model_2d, fm_model = fm_model(**params)

In [26]:
params

{'max_uid': 6040, 'max_mid': 3952, 'num_genres': 18, 'k': 20, 'dnn_dr': 0.5}

In [27]:
def df2xy(ratings):
    x = [ratings["occupation"].values, 
         ratings["userID"].values, 
         ratings["movieID"].values, 
         np.concatenate(ratings["genres"].values).reshape(-1,3)]
    y = ratings["rating"].values
    return x,y

train_x, train_y = df2xy(train)
test_x, test_y = df2xy(test)

In [28]:
from tensorflow.keras.callbacks import  EarlyStopping, ModelCheckpoint
# train  model
fm_model.compile(
    loss=tf.keras.losses.MeanSquaredError(), optimizer=keras.optimizers.Adam(learning_rate=0.001)
)
early_stop = EarlyStopping(monitor='val_loss', patience=3)
model_ckp = ModelCheckpoint(filepath='./models/deepfm.weights.h5', 
                            monitor='val_loss',
                            save_weights_only=True, 
                            save_best_only=True)
#callbacks = [model_ckp,early_stop]
callbacks = [model_ckp]
train_history = fm_model.fit(train_x, train_y, 
                                  epochs=30, batch_size=2048, 
                                  validation_data=(test_x, test_y),
                                  callbacks = callbacks)

Epoch 1/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - loss: 4.0240 - val_loss: 1.0288
Epoch 2/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.9738 - val_loss: 0.9057
Epoch 3/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.8839 - val_loss: 0.8669
Epoch 4/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.8518 - val_loss: 0.8494
Epoch 5/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.8335 - val_loss: 0.8391
Epoch 6/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 0.8214 - val_loss: 0.8316
Epoch 7/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.8139 - val_loss: 0.8245
Epoch 8/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.8051 - val_loss: 0.8185
Epoch 9/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.7954 - val_loss: 0.8138
Epoch 10/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 0.7838 - val_loss: 0.8041
Epoch 11/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.7734 - val_loss: 0.7972
Epoch 12/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.7602 - val_loss: 0.7904
Epoch 13/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.7529 - val_loss: 0.7847
Epoch 14/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.7439 - val_loss: 0.7797
Epoch 15/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.7347 - val_loss: 0.7754
Epoch 16/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.7220 - val_loss: 0.7711
Epoch 17/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.7139 - val_loss: 0.7675
Epoch 18/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.7023 - val_loss: 0.7632
Epoch 19/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.6901 - val_loss: 0.7592
Epoch 20/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 0.6824 - val_loss: 0.7558
Epoch 21/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 0.6676 - val_loss: 0.7540
Epoch 22/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 0.6574 - val_loss: 0.7529
Epoch 23/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.6476 - val_loss: 0.7515
Epoch 24/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.6370 - val_loss: 0.7515
Epoch 25/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.6276 - val_loss: 0.7517
Epoch 26/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.6162 - val_loss: 0.7542
Epoch 27/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 0.6038 - val_loss: 0.7552
Epoch 28/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.5909 - val_loss: 0.7598
Epoch 29/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.5812 - val_loss: 0.7603
Epoch 30/30
391/391 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.5702 - val_loss: 0.7678

In [29]:
df_users = train.head(1)
user_id = df_users["userID"].iloc[0]

In [30]:
df_users

,userID,movieID,rating,timestamp,gender,age,occupation,zipCode,title,genres
325594,1926,34,4,974692704,F,1,0,95404,Babe (1995),"[9, 2, 1]"

In [31]:
#aixo es per quedar-se nomes amb les que tenen 1 rating com a minim
all_movies = matrix.drop_duplicates(subset=["movieID"])

In [32]:
all_movies

,userID,movieID,rating,timestamp,gender,age,occupation,zipCode,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),"[1, 0, 0]"
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),"[15, 9, 13]"
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),"[13, 5, 0]"
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),"[1, 0, 0]"
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)","[15, 9, 2]"
...,...,...,...,...,...,...,...,...,...,...
919876,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),"[12, 0, 0]"
940262,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),"[1, 0, 0]"
957826,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),"[1, 0, 0]"
970914,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),"[2, 1, 17]"
983062,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)","[12, 0, 0]"

In [33]:
df_user = train[train["userID"] == user_id]

In [34]:
movies_watched = set(df_user["movieID"].unique())

In [35]:
movies_not_watched = all_movies[~all_movies["movieID"].isin(movies_watched)]

In [36]:
movies_not_watched

,userID,movieID,rating,timestamp,gender,age,occupation,zipCode,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),"[1, 0, 0]"
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),"[15, 9, 13]"
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),"[13, 5, 0]"
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),"[1, 0, 0]"
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)","[15, 9, 2]"
...,...,...,...,...,...,...,...,...,...,...
919876,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),"[12, 0, 0]"
940262,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),"[1, 0, 0]"
957826,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),"[1, 0, 0]"
970914,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),"[2, 1, 17]"
983062,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)","[12, 0, 0]"

In [37]:
predict_users = test["userID"].unique()

In [38]:
len(predict_users)

6037

In [39]:
def dcg(scores):
    return np.sum((2**scores - 1) / np.log2(np.arange(1, scores.size + 1) + 1))

def ndcg(pred, true):
    return dcg(pred)/dcg(true)

In [47]:
ndcg_sum = 0
for user in tqdm(predict_users):
    test_movies = test[test["userID"] == user]
    pred, true = df2xy(test_movies)
    pred = fm_model.predict(pred, verbose=0).flatten()

    data = pd.DataFrame({
        "movieID": test_movies["movieID"].values,
        "pred": pred,
        "true": true
    })

    data.sort_values(by="pred", ascending=False, inplace=True)
    data = data[:60]
    data.sort_values(by="true", ascending=False, inplace=True)
    true_rel = np.arange(data.shape[0], 0, -1)
    data["relevance"] = true_rel
    data.sort_values(by="pred", ascending=False, inplace=True)

    ndcg_score = ndcg(data["relevance"].values, true_rel)
    #print(count, ndcg_score)
    #print(data)
    #print(f"p:{data['relevance'].values.tolist()}\na:{true_rel.tolist()}")
    ndcg_sum += ndcg_score

  0%|          | 0/6037 [00:00<?, ?it/s]

  1%|▏         | 85/6037 [00:08<09:52, 10.04it/s]

KeyboardInterrupt:

In [ ]:
tmp2_score = ndcg_sum/len(predict_users)
tmp2_score

0.0

In [ ]:
tmp_score = ndcg_sum/len(predict_users)
tmp_score

In [49]:
ndcg_sum = 0
for user in tqdm(predict_users):
    test_movies = test[test["userID"] == user]
    pred, true = df2xy(test_movies)
    pred = fm_model.predict(pred, verbose=0).flatten()

    data = pd.DataFrame({
        "movieID": test_movies["movieID"].values,
        "pred": pred,
        "true": true
    })

    data.sort_values(by="pred", ascending=False, inplace=True)
    data = data[:5]
    data.sort_values(by="true", ascending=False, inplace=True)
    true_rel = np.arange(data.shape[0], 0, -1)
    data["relevance"] = true_rel
    data.sort_values(by="pred", ascending=False, inplace=True)

    ndcg_score = ndcg(data["relevance"].values, true_rel)
    #print(count, ndcg_score)
    #print(data)
    #print(f"p:{data['relevance'].values.tolist()}\na:{true_rel.tolist()}")
    ndcg_sum += ndcg_score

100%|██████████| 6037/6037 [07:42<00:00, 13.05it/s]

In [50]:
tmp_score5 = ndcg_sum/len(predict_users)
tmp_score5

0.8930048422033964

In [ ]:
#calcular l'score també amb el mean TMP2 dolent
#el paper indi no serveix perque es amb feedback unicament de precedencia

In [40]:
calib_users, test_users = predict_users[:100], predict_users[100:]

In [41]:
calib = test[test["userID"].isin(calib_users)]

In [42]:
calib

,userID,movieID,rating,timestamp,gender,age,occupation,zipCode,title,genres
989001,5972,593,5,956952291,F,25,20,55428,"Silence of the Lambs, The (1991)","[1, 4, 0]"
984978,5952,2401,4,957145342,F,45,1,78231,Pale Rider (1985),"[17, 0, 0]"
820569,4933,1805,2,1011684938,M,25,15,94040,Wild Things (1998),"[1, 14, 4]"
373691,2181,587,2,975634724,M,25,0,45245,Ghost (1990),"[2, 5, 4]"
417291,2513,1641,5,974072036,M,56,1,37922,"Full Monty, The (1997)","[2, 0, 0]"
...,...,...,...,...,...,...,...,...,...,...
971854,5854,547,4,958275349,M,45,7,33135,Surviving the Game (1994),"[3, 7, 4]"
951815,5749,2682,4,962843316,M,25,2,94117,Limbo (1999),"[1, 0, 0]"
552681,3401,524,4,980118995,M,35,7,76109,Rudy (1993),"[1, 0, 0]"
813592,4884,3697,2,962745564,M,35,14,90266,Predator 2 (1990),"[3, 8, 4]"
486900,2996,2422,3,972701070,M,18,0,63011,"Karate Kid III, The (1989)","[3, 7, 1]"

In [43]:
s = calib.groupby("userID").size()

In [95]:
s[s >= 4]

userID
13       18
48      113
69       11
178      27
272      94
       ...
5854     90
5857     36
5878    109
5952     22
5972     87
Length: 100, dtype: int64

In [44]:
def softmax(x):
    # Subtracting the maximum value for numerical stability
    e_x = np.exp(x - np.max(x))
    return e_x / e_x.sum(axis=0)

# Example usage
x = np.array([1.0, 2.0, 3.0])
softmax_values = softmax(x)
print(softmax_values)

[0.09003057 0.24472847 0.66524096]

In [62]:
def normalize(x):
    return 3**x

In [63]:
def sum_until_rating(pred, true, rating):
    sum_value = 0
    for p, t in zip(pred, true):
        sum_value += p
        if t == rating:
            break
    return sum_value

list_sum_ratings = []
for user in calib_users:
    calib_movies = test[test["userID"] == user]
    pred, true = df2xy(calib_movies)
    pred = fm_model.predict(pred, verbose=0).flatten()

    data = pd.DataFrame({
        "movieID": calib_movies["movieID"].values,
        "pred": pred,
        "true": true
    })

    #data.sort_values(by="pred", ascending=False, inplace=True)
    data = data.sample(min(5, data.shape[0]))
    #data.sort_values(by="true", ascending=False, inplace=True)
    #true_rel = np.arange(data.shape[0], 0, -1)
    #data["relevance"] = true_rel
    data.sort_values(by="pred", ascending=False, inplace=True)
    data["pred"] = normalize(data["pred"].values)
    sur = sum_until_rating(data["pred"].values, data["true"].values, data["true"].max())
    list_sum_ratings.append(sur)
    print(sur)
    #print(count, ndcg_score)
    print(data)
    #print(f"p:{data['relevance'].values.tolist()}\na:{true_rel.tolist()}")

115.4722900390625
    movieID        pred  true
28     1242  115.472290     5
84     2470   72.685051     4
60      441   49.765488     4
52     1480   18.659864     3
42     2382   17.289919     3
491.61753845214844
    movieID        pred  true
21      911  260.473083     4
4       951  231.144455     5
2       357  129.355301     4
17     3479  128.398239     4
19     2011   59.483307     5
76.85169219970703
    movieID       pred  true
32     2454  76.851692     4
9      3633  44.861855     2
19     2302  37.470837     3
1       457  31.372967     2
53     3260  24.913422     3
138.4390106201172
     movieID        pred  true
78      3035  138.439011     5
94      1261  108.185661     4
120     3504   85.676094     4
68       648   13.780920     5
28      3565    5.025043     1
189.60916137695312
    movieID        pred  true
6      2858  189.609161     5
2      3629  118.620918     5
14     1078  113.314835     5
8       441   91.240921     4
12     2065   75.900505     4
68.60636138916016
    movieID       pred  true
16     1198  68.606361     5
7      3763  40.034561     4
3      1215  24.889334     2
2      2006  12.382681     3
14     3274   8.614370     3
108.76785278320312
     movieID        pred  true
14      1272  108.767853     5
16      1446   59.273808     1
43       410   45.893986     2
90       923   34.129055     4
125     1699   33.176399     4
136.15011596679688
    movieID        pred  true
2         1  136.150116     5
27     3418   63.819191     4
44     3424   49.298134     5
6      1954   46.573368     4
45     1220   41.198975     3
370.86845207214355
    movieID        pred  true
54     1207  153.648392     4
7      1276  128.551147     3
62     3427   41.346615     3
4      2108   29.041332     3
66     1690   18.280966     5
140.85672092437744
   movieID       pred  true
0     1073  57.151352     3
6     1203  42.058491     2
4     1965  26.116419     3
7     2678  15.530459     4
1     3273  15.083038     2
79.52299499511719
     movieID       pred  true
120     1047  79.522995     5
41      1479  73.531746     3
4       2746  43.418709     5
141     2032  24.028170     4
132       17  22.611834     3
182.44123077392578
    movieID        pred  true
10     1203  115.910530     3
26     1608   66.530701     4
21     3623   55.039890     4
18     2011   53.301529     3
1       724   37.024395     3
114.87786102294922
    movieID        pred  true
4       527  114.877861     5
1      2617   49.711472     3
17     1544   47.972225     4
9      2528   43.969204     3
7      1429   19.639687     3
243.2385768890381
    movieID       pred  true
9       916  68.468369     3
47     1032  58.906837     3
52      899  53.905582     3
1      3072  37.366444     3
20      783  24.591345     4
218.2940673828125
    movieID        pred  true
10      149  127.204727     4
33     1218   91.089340     5
15       16   68.127701     4
13      454   21.921284     1
69     1047   19.205690     2
181.43421936035156
   movieID        pred  true
0     1213  181.434219     5
1     2917   96.477287     4
9     3788   63.596970     4
3     3476   58.364689     3
4      260   52.129604     5
69.072265625
    movieID       pred  true
30      837  69.072266     4
55     1061  57.608906     4
33     3477  48.937313     4
54     2340  39.193546     4
52     1186  32.383541     3
184.86306762695312
    movieID        pred  true
16      260  184.863068     5
22     1374  125.367081     3
21       50   86.278008     4
11     3710   12.300015     2
14     1801    8.628223     3
216.1508026123047
    movieID        pred  true
44     3421  216.150803     5
43      949  184.129196     5
69     3222  167.297913     5
66     2028  126.047340     5
22      804   74.908653     4
272.83489990234375
    movieID        pred  true
22     2186  272.834900     5
23     3475  189.059570     4
20     3204  135.387527     5
18      296  134.903992     5
8      1307  100.792183     5
71.47222137451172
    movieID       pred  true
9      3334  71.472221     4
10     1344  58.447193     4
6       991  38.610226     4
2      1441  32.024677     4
23     2570  25.990799     4
168.39020156860352
    movieID        pred  true
16     1097  111.322006     4
13     2087   57.068195     5
31      262   27.667940     4
25     2409   21.295805     3
9      2949   20.335541     2
40.15503692626953
    movieID       pred  true
42     1079  40.155037     5
21     1222  28.581276     4
53     2301  28.028631     1
11     2551  23.150591     1
27     2296   2.499551     1
96.15990447998047
    movieID       pred  true
7      2001  96.159904     4
10     1584  59.082272     3
2      1207  56.138958     3
0      1573  38.365517     4
4      1912  16.971466     4
152.31150817871094
    movieID        pred  true
14     2716  152.311508     5
33     3421  129.715622     5
7      1294  120.031380     5
70     1885   37.915043     4
22      653   35.335682     2
150.4900360107422
    movieID        pred  true
1      3075  150.490036     5
2       319  130.491989     5
21     1834  112.204147     4
24     2160   94.550224     5
10      280   39.672771     4
68.03546905517578
    movieID       pred  true
82     2791  68.035469     5
43     3081  54.983349     3
70      733  25.395761     2
85      648  22.828074     2
65     3005  10.729162     1
130.80545043945312
    movieID        pred  true
7      1253  130.805450     5
18     1094   96.760475     4
25     1276   94.971176     4
16      928   84.252457     5
3      3654   60.864601     4
192.01744079589844
    movieID        pred  true
10     1784  192.017441     5
1      1569   87.230476     5
9       352   61.350315     2
5       852   45.215893     3
2       380   40.438004     4
87.40585327148438
    movieID       pred  true
56     2502  87.405853     5
52     2028  60.367382     4
43     1957  23.400505     5
7      2078  18.164413     2
30     1377  15.914931     2
147.53302001953125
    movieID        pred  true
35     2804  147.533020     4
55     1345   43.964046     3
17      852   28.494873     3
6      1580   26.906944     4
29      380   23.180468     3
150.43833923339844
    movieID        pred  true
50     1258  150.438339     5
26     1396   77.466972     3
12     2301   64.680367     4
33     3197   51.524315     4
52     3614   49.353855     4
90.57841110229492
     movieID       pred  true
79      1345  48.619293     3
2       1293  41.959118     5
19      1938  41.412090     3
103      377  16.300610     3
100     1051  15.238823     1
263.32022857666016
    movieID        pred  true
3      1721  161.010910     3
22      480  102.309319     5
8       653   30.245359     4
4      2808   16.993351     3
71     2296   16.019567     3
173.32431030273438
    movieID        pred  true
10     1374  173.324310     5
18     2496   69.114342     4
25      673   32.890617     4
19     1644   31.808208     1
22     2383   30.157393     5
111.42790222167969
    movieID        pred  true
5       318  111.427902     5
36      785   54.993431     3
12      165   46.106407     4
32     1858   28.773516     4
21      420   23.584637     3
165.37481880187988
    movieID        pred  true
29       50  108.438103     3
5       417   32.935619     3
15      735   24.001097     4
57     2713   12.371529     2
34      737   10.899516     2
170.9158935546875
    movieID        pred  true
17      110  170.915894     4
23      480  101.406433     4
34     2003   59.158333     4
28     3304   50.384506     3
12     2806    9.642245     3
247.6111602783203
    movieID        pred  true
18     1196  247.611160     5
57     1259  120.873764     4
43     3682   94.319786     3
49      151   74.578522     3
19      968   72.733810     4
128.1127700805664
     movieID       pred  true
102     1125  65.113724     3
57       150  62.999046     4
27      2722  16.321331     3
54      1390  13.553806     3
156      419   2.962432     1
305.4631652832031
     movieID        pred  true
22      3317  305.463165     5
57        60   75.216843     5
49       587   46.914082     4
51      2477   31.620970     1
151     2710   21.740807     3
52.30072784423828
    movieID       pred  true
4      1552  52.300728     4
3       653  43.565731     3
7      1377  34.111603     2
18     2574  25.715950     3
2      2162  13.019614     3
357.42352294921875
    movieID        pred  true
31     1148  357.423523     5
5      1544   16.587938     3
27     3119    6.247216     1
22     2898    5.706326     1
30     1327    1.416505     1
101.55970001220703
    movieID        pred  true
16      899  101.559700     4
14     3699   85.020775     3
21     1956   75.353127     4
5      2011   63.123360     4
22     1370   61.699917     4
159.51019668579102
    movieID       pred  true
19     2866  55.384628     3
12     1958  55.370575     2
29     2852  48.754993     4
6      3430  23.342062     4
31      277  14.677900     4
69.4778060913086
    movieID       pred  true
35     2918  69.477806     4
86     2366  57.146591     4
77     1673  51.236889     4
33     1327  48.510353     3
46     3908  19.046499     2
157.4431610107422
    movieID        pred  true
39     1722  157.443161     5
18     2021   70.381653     3
12     3421   62.455051     3
44      300   59.444618     4
34     2641   53.782265     2
129.5969123840332
    movieID       pred  true
60      344  68.139175     4
35       69  61.457737     5
74     2355  58.172691     4
61     3751  50.039059     4
38     2700  36.297424     3
41.36565017700195
     movieID       pred  true
222     2268  23.664810     2
223     3506  17.700840     3
181     2997  13.559392     3
228     1515   7.226562     2
127     2412   2.473071     2
74.41472625732422
    movieID       pred  true
7      1797  74.414726     4
54     1374  55.924812     3
8      1219  42.578979     4
6      1689  24.888063     1
61      372  23.847906     3
65.7865219116211
     movieID       pred  true
22      2997  65.786522     5
148      361  32.538422     3
132      151  31.447886     2
21        95  23.728069     2
42      2082  20.517149     3
173.61245727539062
     movieID        pred  true
109      356  173.612457     5
75      2109   43.354931     5
134     2046   32.578728     3
95      2792   31.451122     2
19        20    8.015450     2
110.32392120361328
    movieID        pred  true
2       318  110.323921     5
6       909   78.269363     4
9      1300   51.007244     4
15     2947   40.686646     3
10      616   30.393866     4
144.925048828125
    movieID        pred  true
24     2949  144.925049     5
3      1923  131.388657     4
6      3210   93.918198     5
56     2815   49.751526     4
22      849   46.665539     4
152.78187561035156
     movieID       pred  true
111     1693  48.697792     3
139      162  44.955074     3
17      2766  36.732197     2
145     1339  22.396812     4
32      2375  13.416459     4
228.52559089660645
     movieID       pred  true
106       43  82.144608     1
81      1608  77.473045     3
46      2118  43.783051     4
44      1027  25.124887     5
85      3299  19.462353     3
182.77406311035156
   movieID        pred  true
1     2357  182.774063     5
3     2959  169.522079     5
0       50  157.580795     5
4     1719  152.063171     4
6     2134   22.656481     2
209.95555114746094
    movieID        pred  true
20     1197  209.955551     5
65     2463  135.804214     4
82     3244  122.927406     4
44      514   88.651527     3
77     3726   67.945145     4
255.78093719482422
    movieID        pred  true
29      924  158.581924     4
38      903   97.199013     5
67      898   94.941383     5
42     1204   89.470322     4
5       946   59.787449     5
218.8590545654297
    movieID        pred  true
31      260  218.859055     5
36      110   73.843224     4
27     1732   19.989716     4
41     1214   19.550146     2
28     1378   13.343210     3
241.38011169433594
    movieID        pred  true
24      924  121.537788     4
5      2289  119.842323     5
10     3265   60.881088     5
48     3178   27.243587     5
38     2384   22.959717     1
39.406795501708984
    movieID       pred  true
37     3450  39.406796     4
38     1385  30.303635     3
40      509  25.467230     2
25     1894  22.396902     2
24     1513  17.878258     2
388.0494384765625
   movieID        pred  true
3     2858  388.049438     5
0     3174   79.476059     4
2     3176   78.370956     4
1      574   52.173752     4
96.39786529541016
    movieID       pred  true
22      841  96.397865     5
32     3508  94.421928     5
43       21  57.489147     5
54     2728  56.191433     3
63     3931  11.379511     2
114.88137817382812
   movieID       pred  true
3     2908  75.728668     2
8     2369  39.152710     4
0     3623   9.608237     2
2     2688   8.535509     1
6     2861   3.516774     1
124.62950134277344
     movieID        pred  true
111     1234  124.629501     5
103      647   54.878693     3
126     1197   51.734669     3
133     1388   13.480132     3
138     1911   10.279759     3
42.807395935058594
   movieID       pred  true
2      145  42.807396     4
4     1769  40.591515     3
1     2916  39.362888     3
3     1370  39.091072     3
0       10  25.815088     3
156.19508361816406
    movieID       pred  true
2       356  87.699936     4
53     2871  68.495148     5
47     2174  53.328091     3
4       929  42.199039     3
94     1372  14.958715     3
123.16558837890625
     movieID        pred  true
33      1234  123.165588     4
70      3088   92.346954     4
99       948   67.808495     3
104      562   44.378284     3
78      2029   35.136974     4
131.88420486450195
     movieID       pred  true
133     2282  69.432800     4
22      2357  62.451405     5
122     2017  22.701651     3
113      888  12.381413     3
119     3921   7.633854     2
214.8885269165039
    movieID        pred  true
92     1732  136.494766     3
19     3129   78.393761     4
45     2108   42.182384     3
63     1210   39.177277     4
96      193    9.426455     2
120.81134033203125
     movieID        pred  true
174     2329  120.811340     5
64      1268   58.328590     4
150     3576   47.147224     4
43       663   29.361851     3
231        5   24.768274     2
90.15681076049805
    movieID       pred  true
55      216  62.783218     3
42      293  27.373592     4
48     1438  18.408369     3
73     2809  13.903518     4
23     2555   6.134150     2
76.59523010253906
    movieID       pred  true
79     3358  76.595230     4
80     3418  65.797516     4
33     3087  38.145535     3
17     3614  36.754005     4
74      333  21.545038     2
102.95934295654297
    movieID        pred  true
33     1250  102.959343     4
9      1292   90.965164     4
16     3811   57.535152     4
36     3419   42.633797     4
25     2023   19.562685     4
173.95567321777344
    movieID        pred  true
38     1041  173.955673     5
59     1252  114.953415     4
93       50   88.687805     5
47      272   54.358906     4
46        1   44.750385     5
143.18556213378906
    movieID       pred  true
21      125  68.956375     4
17     1271  46.936832     4
0       781  27.292355     5
10     3160  19.970671     4
12      543  15.533132     4
40.28073501586914
     movieID       pred  true
163     2059  40.280735     4
88      3714  34.563480     3
66       207  23.499382     3
172     3258  22.227198     3
8        785  21.768307     4
375.94444274902344
    movieID        pred  true
17      678  241.971573     3
55      199  133.972870     5
56      725   28.573132     4
31     1485   24.143488     3
18     2500   20.369087     3
202.94012451171875
    movieID        pred  true
4      1230  202.940125     5
5      1466   88.062805     4
7      2657   87.305908     2
1       357   75.539619     5
12     1281   73.534081     4
215.48590087890625
    movieID        pred  true
7       919  215.485901     5
9      1729  124.854355     4
1         1   94.899567     3
14      151   75.166641     4
0      3178   44.006882     3
160.82196807861328
    movieID       pred  true
44     3147  81.257637     4
1      2353  79.564331     5
24     1214  46.940113     2
9      2076  46.463123     4
26     1385  38.793648     4
177.76568603515625
   movieID        pred  true
9     2762  177.765686     5
5     1608  145.161591     4
3     3273   85.950043     3
2     1265   38.823257     2
6     3515    9.125291     1
113.27278518676758
    movieID       pred  true
43      593  71.230553     4
52      509  42.042233     5
26     1747  33.809292     3
32       92  16.443871     3
12     3033  13.958529     3
43.0216064453125
    movieID       pred  true
7      3203  43.021606     4
21     2710  27.172073     4
17     3263  15.773180     2
0       737   3.013947     1
24     1623   1.156433     3
205.306396484375
     movieID        pred  true
75        36  205.306396     5
28      3060  140.741394     4
51      2425  101.297112     5
105     3105   97.871361     4
88      3115   48.348164     3
80.85354614257812
     movieID       pred  true
100     1953  80.853546     4
70      3635  63.673943     4
46      3104  55.777733     3
112     2371  43.509010     3
26       653  24.638527     3
126.7354736328125
    movieID        pred  true
15     3019  126.735474     5
38      913  122.314728     4
37     1179  111.906059     2
0      2762  106.246300     3
25     1200   10.566005     4
52.14320373535156
    movieID       pred  true
19      593  52.143204     4
10     3927  22.265657     4
42      258   8.318636     2
2      3646   6.812317     2
22     3799   3.688216     1
288.7078552246094
    movieID        pred  true
70     1136  288.707855     5
75     1218  206.423233     4
69     2993  166.954636     4
37     2628   79.224449     4
27     2616   13.106340     4
305.94075775146484
   movieID        pred  true
2     3006  199.783859     4
8     1673  106.156898     5
3      538   88.773239     4
7      161   86.009544     4
4      272   73.180092     5
374.8309783935547
    movieID        pred  true
9      1214  208.537018     4
18     2700  166.293961     5
39     2085   65.313194     4
34     2053    9.442466     2
28     2162    5.421567     2
336.9522399902344
    movieID        pred  true
23     1214  336.952240     5
30     1625  104.006035     5
77     3570   35.917892     3
37     1322   24.652678     2
32     2683   19.845560     3
131.88502502441406
     movieID        pred  true
130     2208  131.885025     4
96      1931   89.878738     4
77      1303   80.284622     3
126      223   50.118717     3
128     1805   30.495691     3
60.75664138793945
     movieID       pred  true
112     3020  60.756641     4
159     2414  52.382191     3
131     2430  21.398087     3
74      2095   7.705563     2
108     1986   7.697657     1
143.35433959960938
    movieID        pred  true
43      914  143.354340     5
7      3175  130.554077     4
8      3088   87.627197     3
17       39   71.974419     3
20      379   47.049580     4
180.93809509277344
    movieID        pred  true
56     2010  180.938095     5
34     1285   90.671478     4
64      373   79.732544     5
14     1441   26.762011     4
35      786   10.617607     2
116.63676452636719
    movieID        pred  true
32     1361  116.636765     5
55     1269  107.351990     4
70     3683  104.335587     4
13     3551   70.160370     3
62     2455   49.435104     3
54.11903667449951
    movieID       pred  true
60      514  18.934475     2
45      785  14.985795     3
12     3386  13.709886     3
56      639   6.488881     4
38     2052   3.919198     1
204.52377700805664
    movieID       pred  true
53     3213  61.262764     2
64     1845  60.442471     2
5      1243  43.169353     3
28     2390  39.649189     4
30     3063  14.306264     2

In [80]:
q_hat = np.quantile(list_sum_ratings, 0.83, method='higher')

In [81]:
q_hat

228.52559089660645

In [82]:
#q_hat = 5 - q_hat

In [75]:
def recommend(movies, pred, q_hat):
    recom = []
    sum_value = 0
    for m, p in zip(movies, pred):
        if sum_value >= q_hat:
            break
        recom.append(m)
        sum_value += p
    return recom

count = 0
for user in test_users:
    if count == 100:
        break
    test_movies = test[test["userID"] == user]
    pred, true = df2xy(test_movies)
    pred = fm_model.predict(pred, verbose=0).flatten()

    data = pd.DataFrame({
        "movieID": test_movies["movieID"].values,
        "pred": pred,
        "true": true
    })

    #data.sort_values(by="pred", ascending=False, inplace=True)
    data = data.sample(min(5, data.shape[0]))
    #data.sort_values(by="true", ascending=False, inplace=True)
    #true_rel = np.arange(data.shape[0], 0, -1)
    #data["relevance"] = true_rel
    data.sort_values(by="pred", ascending=False, inplace=True)
    data["pred"] = normalize(data["pred"].values)
    recom = recommend(data["movieID"].values, data["pred"].values, q_hat)
    print(recom)
    #print(count, ndcg_score)
    print(data)
    #print(f"p:{data['relevance'].values.tolist()}\na:{true_rel.tolist()}")
    count += 1

[1267, 1125]
    movieID        pred  true
41     1267  149.309006     5
24     1125  112.723656     4
0       164   84.627342     5
5      3538   73.186050     4
8      1945   53.089451     4
[2803, 2599, 2052, 3016, 102]
     movieID       pred  true
57      2803  36.883636     3
4       2599  33.243725     4
151     2052  27.245756     2
46      3016  26.572935     3
64       102   4.129105     1
[3536, 3893, 3566]
    movieID        pred  true
10     3536  101.543106     4
1      3893   81.351212     3
11     3566   75.400963     4
0      3898   42.483353     2
8      3534   29.887306     2
[1136, 6]
    movieID        pred  true
28     1136  207.188416     5
20        6  121.169197     4
23     2797   71.041115     4
11     3624   69.429276     4
7      3301   64.900696     3
[2291, 653, 2378, 2641, 546]
    movieID       pred  true
23     2291  51.027344     4
29      653  30.501083     3
16     2378  23.662937     3
11     2641  19.880585     4
2       546   9.646747     2
[1196, 3175, 3702, 1016, 2786]
     movieID        pred  true
76      1196  102.179596     4
78      3175   67.336708     4
154     3702   26.707390     2
140     1016   21.136250     3
149     2786    6.278099     1
[930, 2289]
    movieID        pred  true
20      930  240.630524     5
30     2289  125.156311     3
15     3185  112.748703     4
21     3250   62.651848     5
17     1722   45.267063     4
[380, 2001, 2985]
     movieID        pred  true
95       380  117.689560     5
107     2001   95.290123     3
62      2985   77.319435     4
47       305   29.307934     3
33      3254   28.687140     3
[2858, 1089]
    movieID        pred  true
21     2858  228.022430     4
36     1089  127.257713     5
33     2100   29.044603     2
17     2916   24.900694     5
4      3917   10.519464     4
[3448, 3668]
    movieID        pred  true
72     3448  142.195938     5
64     3668  142.140076     5
16     3111  136.379898     4
50     1732   64.124741     3
41     2758   20.767689     3
[2529, 1914, 2985, 1291, 2803]
     movieID       pred  true
107     2529  71.107880     5
85      1914  37.847691     3
130     2985  28.481606     4
28      1291  27.239935     4
104     2803   9.662610     2
[1221, 1358, 1362]
    movieID        pred  true
11     1221  122.782471     3
23     1358  102.469749     5
7      1362   95.724907     4
14      909   85.333878     4
9      3011   71.370583     4
[527, 3252]
    movieID        pred  true
8       527  159.401154     5
21     3252   90.283905     2
26      223   49.135803     3
14      350   47.466965     3
13     1721   41.759911     5
[555, 457, 377, 2273, 288]
    movieID       pred  true
3       555  69.783684     4
10      457  65.926346     5
1       377  47.483055     3
9      2273  41.110504     4
12      288  14.525357     4
[750]
    movieID        pred  true
3       750  348.343994     5
14       50  222.165207     5
2      1213  107.093216     5
15     1997   94.987000     5
9      1242   77.672188     5
[260]
    movieID        pred  true
29      260  260.315521     5
74      745  152.829666     5
34     2871  110.488411     2
62     2762  109.405426     4
0      3753  106.567039     4
[2028, 2571]
    movieID        pred  true
1      2028  150.009354     3
0      2571   99.944931     3
2      3301   59.775063     3
9       316   51.593105     4
10     1429   41.955746     4
[2058, 3274, 1487]
    movieID        pred  true
13     2058  107.465874     4
8      3274   96.828873     3
38     1487   84.886063     3
33     2040   54.072308     4
19     2986   24.296604     3
[2761, 551, 62, 3160, 2504]
    movieID       pred  true
24     2761  76.697617     3
21      551  69.905891     3
38       62  37.192234     3
8      3160  27.360725     3
11     2504  15.620596     3
[2455, 1300, 3261]
     movieID       pred  true
68      2455  94.928650     4
82      1300  79.238869     5
88      3261  76.250610     3
104     3275  74.703568     4
64      1641  40.818100     5
[2857, 1112]
     movieID        pred  true
80      2857  165.369461     5
74      1112   79.518288     4
48      1777   56.167904     4
118     2616   35.895718     3
68      2706   35.209259     3
[3039, 1370, 3471]
    movieID        pred  true
53     3039  124.285385     4
58     1370   71.056381     3
6      3471   70.791176     4
7      1909   54.335487     4
41     3070   46.154934     5
[1527, 1127, 2772, 2718, 1445]
    movieID       pred  true
19     1527  53.386230     4
52     1127  48.616314     4
42     2772  22.068987     4
6      2718  17.337980     4
54     1445  17.078087     3
[162, 920, 1270, 2985, 2989]
    movieID        pred  true
6       162  103.853424     4
44      920   39.880489     3
9      1270   24.455996     3
43     2985   20.594049     2
39     2989   10.146463     2
[2795, 39]
    movieID        pred  true
28     2795  164.959595     5
4        39   92.302994     3
56     2694   87.059738     4
8      2291   44.990768     4
16     2266   30.230936     4
[3629, 1214, 3617, 1416, 3268]
     movieID       pred  true
121     3629  80.716667     4
103     1214  60.628735     4
115     3617  46.161110     4
1       1416  30.719711     4
70      3268  10.886882     2
[2019, 2010]
   movieID        pred  true
5     2019  152.634689     5
1     2010  107.502075     5
3     1301   72.520599     4
2     2083   70.630684     3
0       34   43.901283     2
[2329, 32, 2424]
    movieID        pred  true
89     2329  174.750122     5
81       32   54.432396     5
33     2424   15.494650     3
11     1372   11.282579     4
52     2054    9.394582     1
[969, 924]
    movieID        pred  true
10      969  191.186768     5
7       924  113.667984     5
8      1225   69.687149     5
2       952   59.975288     4
5      1721   22.094402     1
[344, 377, 1784]
    movieID        pred  true
3       344  152.099823     4
1       377   84.738647     2
4      1784   44.604317     3
30     2628   37.455322     4
0      3174   33.028618     2
[3108, 2145]
    movieID        pred  true
57     3108  167.796188     4
14     2145  131.204666     5
38     1394  129.083923     5
35      298   93.011322     5
39     2424   73.556671     4
[1234, 1299]
    movieID        pred  true
3      1234  185.087097     5
17     1299  144.515747     4
34     2571   89.466667     5
24     2116   49.211334     4
13     2641   22.144890     3
[1262, 1960, 1357, 1954, 780]
    movieID       pred  true
68     1262  94.529175     3
56     1960  55.776913     5
18     1357  47.283783     3
42     1954  41.335232     3
40      780  18.138796     3
[3083]
   movieID        pred  true
2     3083  289.028076     3
5      858  193.259506     5
3      899  126.591614     5
4     3182  108.395164     5
1     3741  102.881866     5
[2019]
    movieID        pred  true
12     2019  284.973999     2
22      318  137.999207     5
18     2527   72.436005     4
29     3101   47.140335     3
16     3450   35.729309     2
[1994, 3708]
    movieID        pred  true
12     1994  151.959412     5
25     3708  125.169754     5
35     3525  120.796471     4
2       861  106.155617     4
7      2701   24.357233     1
[1148, 111, 1267]
   movieID        pred  true
0     1148  131.984131     4
1      111  107.049911     5
2     1267   98.339455     4
3     2300   89.678802     4
5     2396   78.516731     3
[3022, 969]
    movieID        pred  true
19     3022  233.713440     5
0       969  231.141068     5
6      1641  178.045837     4
17      206  109.069572     4
18     2171   98.034332     5
[2959, 2324, 1333]
    movieID        pred  true
57     2959  122.078064     5
5      2324   94.532990     4
23     1333   86.158585     5
6      1732   62.338928     3
44     2463   44.667274     3
[593, 2997]
   movieID        pred  true
0      593  167.232986     5
4     2997   78.808861     4
1     2712   46.976707     2
3     3113   22.781637     4
5     2996   16.256769     1
[356]
    movieID        pred  true
5       356  313.663666     4
39      919   93.201401     4
55     3090   53.774376     4
23     3412   31.861599     5
28     2139   31.129602     3
[1197, 3429, 1704]
    movieID        pred  true
44     1197  121.823486     5
46     3429   82.287125     4
31     1704   71.015465     3
72      515   70.423012     4
71     2858   66.380951     5
[3481, 1940]
   movieID        pred  true
4     3481  187.400253     4
5     1940  187.123810     4
8     3364  153.982712     4
6     3788  106.362411     5
3     3810   35.618824     4
[1947, 2906, 866, 1294, 737]
    movieID       pred  true
2      1947  44.630508     4
93     2906  39.957382     4
74      866  38.981197     4
44     1294  36.503395     3
21      737   9.862988     1
[3551, 2750, 1201, 1274, 3812]
    movieID       pred  true
60     3551  95.930374     4
36     2750  60.742924     3
17     1201  39.719208     4
23     1274  32.738708     3
10     3812  20.808689     4
[110, 1234]
    movieID        pred  true
6       110  229.268829     5
8      1234  173.884796     5
11     3897   65.715431     2
9      1358   62.253967     5
5      1635   21.790257     3
[1230, 36, 3203]
    movieID        pred  true
38     1230  136.176727     5
33       36   97.615906     4
29     3203   86.779572     4
97      307   44.132320     3
83     2713   16.691145     3
[2144, 3552, 3114, 1027]
    movieID       pred  true
4      2144  78.105751     2
7      3552  60.910564     4
10     3114  60.027985     3
5      1027  49.352680     4
9       586  41.729099     4
[150, 3147, 3386, 317, 1544]
    movieID       pred  true
22      150  93.404922     4
17     3147  66.770660     4
18     3386  41.466427     3
21      317  23.708406     2
2      1544  11.506959     4
[1625, 3213, 3052, 494, 782]
    movieID       pred  true
50     1625  81.475151     4
37     3213  38.773594     3
62     3052  35.662540     1
86      494  25.158262     4
30      782   7.693369     1
[1287, 2797]
    movieID        pred  true
22     1287  154.112808     4
15     2797  105.035622     4
37     3094   58.658531     3
31      648   55.508293     5
12     2445   34.272846     4
[235, 2349, 3189, 3948, 1608]
     movieID       pred  true
119      235  70.044418     3
102     2349  59.890991     4
69      3189  37.883789     3
128     3948  33.417194     3
8       1608  30.075890     3
[1620, 1034, 1732, 852, 3623]
    movieID       pred  true
7      1620  59.229546     3
10     1034  58.554962     3
42     1732  42.698917     4
6       852  41.124863     3
0      3623  29.203236     3
[1188, 1042, 3617, 724]
     movieID        pred  true
31      1188  106.518204     5
34      1042   88.735344     3
111     3617   47.103638     2
115      724   27.338253     2
10      1833   25.134787     3
[2941, 1101, 898, 1380]
    movieID       pred  true
3      2941  84.576775     4
63     1101  74.558464     4
27      898  63.382927     2
1      1380  46.474831     2
38     3296  46.326374     5
[778, 2023]
    movieID        pred  true
13      778  136.267273     4
61     2023  119.194366     4
29      628  114.818481     4
54     1680   83.311378     4
55      175   59.813889     5
[1090, 1965, 3301, 2102]
   movieID        pred  true
2     1090  135.161606     4
3     1965   73.216942     5
1     3301   23.216227     5
0     2102   15.900373     4
4     3450   11.486160     3
[3526, 3668, 1614]
     movieID        pred  true
121     3526  151.664200     5
185     3668   83.833977     4
2       1614   59.723389     4
42      1573   50.394695     3
142     1100   28.782711     2
[1, 908]
    movieID        pred  true
9         1  162.530716     5
8       908  140.058334     3
12     2501  127.894089     5
7      2359  111.521042     5
2      2997   46.439606     5
[2728, 3083]
    movieID        pred  true
2      2728  138.437637     4
53     3083  111.788818     1
45     3246   90.269485     5
32     3788   56.618580     5
31     1562    7.491172     2
[1, 1580]
    movieID        pred  true
15        1  225.836029     4
21     1580  158.347153     5
3      3255   94.240372     3
13     1917   73.019447     1
1      3489   46.995178     5
[3176, 3238]
   movieID        pred  true
6     3176  158.731934     4
2     3238  121.670738     5
7     1784  110.284744     4
8     3299   70.176712     3
0     2396   51.734127     5
[1095, 2966, 3067, 1906, 1416]
     movieID       pred  true
126     1095  91.699440     3
35      2966  70.914436     3
93      3067  52.893379     4
55      1906  22.533138     3
30      1416  15.769862     2
[2223, 2797, 1693, 521, 329]
     movieID       pred  true
24      2223  71.802208     3
41      2797  70.291893     5
23      1693  55.791569     5
62       521  43.094498     3
107      329  35.108379     4
[3705, 408, 2428, 3394, 779]
    movieID       pred  true
26     3705  54.996113     3
2       408  51.816120     3
3      2428  45.108578     3
14     3394  37.956047     3
11      779  18.603323     4
[2108, 2997, 2539, 2890, 2303]
    movieID       pred  true
85     2108  84.068916     5
38     2997  69.138565     1
34     2539  53.477089     3
28     2890  34.193516     4
10     2303  25.337690     3
[2109, 1480, 2582, 1391, 1752]
    movieID       pred  true
15     2109  90.741852     4
13     1480  41.239429     4
18     2582  37.854202     3
23     1391  24.677376     1
0      1752   7.438318     2
[194, 1923, 429, 216, 2431]
    movieID       pred  true
24      194  68.775078     4
20     1923  67.013382     3
58      429  30.098696     4
64      216  19.806036     2
5      2431   5.474216     3
[798, 2664, 1912, 923, 938]
     movieID       pred  true
8        798  52.628155     3
112     2664   7.030597     1
105     1912   6.833008     3
132      923   1.396189     1
106      938   1.005466     1
[2109, 1380, 361, 95, 2151]
    movieID       pred  true
2      2109  57.530479     5
33     1380  34.259644     3
23      361  23.785622     3
34       95  19.136786     3
17     2151  18.434107     3
[1193, 2915, 1588, 3497, 1517]
    movieID       pred  true
24     1193  98.927818     4
17     2915  62.651173     4
22     1588  41.681709     3
1      3497  27.053801     4
7      1517  13.794014     1
[1212]
    movieID        pred  true
18     1212  276.289825     5
5      2396  203.716095     5
30     3424  149.048691     5
15     2729  113.180695     5
32     3255   76.476067     4
[3175, 588]
    movieID        pred  true
21     3175  135.335831     5
9       588  114.373100     4
7       112   78.115837     5
31     3197   77.160744     4
6       587   65.143150     3
[3686, 2316, 1885, 3258, 166]
     movieID       pred  true
152     3686  37.834675     2
79      2316  31.722675     3
51      1885  31.050602     4
72      3258  24.155993     2
5        166  21.746178     1
[1747, 585, 2436]
   movieID       pred  true
3     1747  89.473694     1
0      585  86.025948     4
6     2436  84.127243     4
4     1883  79.098633     4
2     1959  30.394194     2
[1785, 3072, 3501, 783, 3316]
     movieID       pred  true
82      1785  22.948780     4
50      3072  16.111879     3
181     3501  10.844743     4
153      783   8.025463     1
189     3316   4.026450     1
[724]
   movieID        pred  true
0      724  495.722076     5
2      858  308.982086     5
1     2720  152.379822     5
3     1051   84.527298     5
[908, 2791, 329, 3146, 595]
    movieID       pred  true
34      908  70.792320     4
31     2791  62.363670     4
40      329  43.867825     3
48     3146  27.844831     3
44      595  18.119991     3
[260, 1938, 2178, 3252, 562]
    movieID       pred  true
23      260  67.959686     4
30     1938  17.246407     3
32     2178  15.216853     4
2      3252  11.303164     2
83      562  11.108608     3
[2944, 2857, 2987, 1374, 2532]
    movieID       pred  true
28     2944  73.666481     3
22     2857  61.178436     4
25     2987  58.495377     4
0      1374  48.385181     2
55     2532  22.104103     2
[260, 1375, 3104, 2642, 2734]
    movieID       pred  true
21      260  83.998344     5
20     1375  34.247253     3
6      3104  33.342381     2
4      2642  15.470703     2
62     2734  10.538626     3
[480, 1580, 733, 1608, 2699]
    movieID       pred  true
40      480  71.278648     4
24     1580  52.335354     4
5       733  41.659431     3
27     1608  27.749846     3
10     2699  18.415815     4
[1097, 2470, 3175]
     movieID       pred  true
11      1097  94.111900     4
35      2470  91.879951     5
123     3175  89.672745     5
59      2399  55.976753     5
20      1726  46.086182     4
[2775, 457]
    movieID        pred  true
27     2775  151.045990     3
11      457   96.277451     3
22      508   79.336540     4
52     1519   57.241207     3
2      3786   47.043159     4
[750]
    movieID        pred  true
11      750  262.891357     5
9      2908  137.561096     5
10     2976   26.349323     4
18     3824    4.748387     1
19      762    4.368230     3
[1282, 905, 281, 2390, 3113]
    movieID       pred  true
24     1282  64.726578     3
31      905  41.154400     3
20      281  34.792259     1
48     2390  26.211931     4
26     3113   6.705703     2
[101, 141, 653, 442, 1739]
    movieID       pred  true
40      101  69.680870     4
8       141  30.099184     4
15      653  12.418757     1
61      442   6.312486     2
32     1739   2.276854     1
[1299, 356, 3608, 2779]
    movieID        pred  true
26     1299  108.043900     4
45      356   65.536903     4
25     3608   53.826416     4
10     2779   42.499355     3
43      352   25.567265     4
[3330, 11, 3524, 2722]
     movieID        pred  true
80      3330  101.149963     4
76        11   62.232414     4
106     3524   58.355152     3
42      2722   50.375084     4
54       577   34.598129     2
[2028, 1777]
    movieID        pred  true
69     2028  125.506325     4
19     1777  117.827927     4
84     1682   90.930336     5
55     2125   57.929192     4
38      842   18.869904     4
[2571, 2944]
    movieID        pred  true
43     2571  137.517075     5
2      2944  135.941010     5
9      3052  102.688240     4
34     3844   41.326344     3
24     1479   37.412289     4
[1225, 260, 3168]
    movieID        pred  true
22     1225  101.255890     4
37      260   93.905602     5
62     3168   55.930939     4
28     2333   49.296932     3
24     3330   32.946369     4
[3629, 1196, 3232, 1276]
    movieID        pred  true
11     3629  109.462639     4
20     1196   73.478920     3
18     3232   52.261082     4
12     1276   48.593651     5
15     2919   36.173111     4
[1193, 2333, 2849, 711, 432]
     movieID       pred  true
126     1193  82.783966     5
175     2333  41.057667     3
212     2849  13.695755     2
104      711   7.383194     1
103      432   5.695046     2
[457, 440, 34, 1997, 223]
    movieID       pred  true
35      457  31.511127     3
78      440  28.858383     4
67       34  15.615654     4
94     1997  13.774142     2
2       223  11.339549     4
[1956, 947, 3342]
    movieID       pred  true
35     1956  87.773750     4
8       947  83.855850     4
31     3342  74.752792     5
24     1258  59.658596     5
1      2571  54.924622     3
[1086, 2946, 903, 3421, 471]
    movieID       pred  true
12     1086  70.033134     4
6      2946  65.874184     3
4       903  60.878185     4
2      3421  30.130831     4
18      471  22.075920     2
[2762, 3952, 85, 3046]
    movieID        pred  true
13     2762  143.021896     1
5      3952   51.084179     2
12       85   40.506390     4
20     3046   32.548985     3
15     2766   31.246378     3
[1224, 233]
     movieID        pred  true
116     1224  230.600082     4
20       233  103.605309     5
101       31   47.784027     5
52      1625   44.988602     5
41      2076   41.527882     5
[919, 2018, 3633, 1103, 1344]
    movieID       pred  true
2       919  76.807663     4
63     2018  73.427299     4
34     3633  42.383598     3
0      1103  40.804203     3
3      1344  24.589394     3